﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="TandETemplate.Master.cs" enabletheming="true" Inherits="Riskmaster.UI.Utilities.TandETemplate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="cphHead" runat="server">

    </asp:ContentPlaceHolder>

    <script language="JavaScript" src="../../Scripts/zapatec/utils/zapatec.js"></script>
    <script language="JavaScript" src="../../Scripts/zapatec/zpcal/src/calendar.js"></script>
    <script language="JavaScript" src="../../Scripts/zapatec/zpcal/lang/calendar-en.js"></script>
    <script language="JavaScript" src="../../Scripts/zapatec/zpcal/src/calendar-setup.js"></script>
    <script language="JavaScript" src="../../Scripts/TandE.js"></script>
    <script language="Javascript" src="../../Scripts/rmx-common-ref.js"></script>
    <script language="javascript" src="../../Scripts/form.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ScriptManager ID="ScriptManager1" runat="server" />
        <asp:ContentPlaceHolder ID="cphUtilityBody" runat="server">
            
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
