﻿<%@ master language="C#" autoeventwireup="true" codebehind="RMXMain.master.cs" inherits="Riskmaster.UI.App_Master.RMXMain" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="cphHTML" runat="server">
<head runat="server">
    <title>RISKMASTER Accelerator</title>
    <asp:contentplaceholder id="head" runat="server">
    </asp:contentplaceholder>
</head>
<body id="cphHeaderBody" runat="server" style="margin:0px">
<script language="javascript" type="text/javascript">
    //asharma326 MITS 34425
    //function adjustMDIMeter() {
    //    var RMXIframe = null;
    //    var iFrameDoc = null;
    //    var objOuter = null;
    //    var objMeter = null;
    //    RMXIframe = document.getElementsByTagName("IFRAME")[0];
    //    if (RMXIframe != null) {
    //        iFrameDoc = (RMXIframe.contentDocument) ?
    //            RMXIframe.contentDocument : RMXIframe.contentWindow.document;
    //    }
    //    if (iFrameDoc != null) {
    //        var parwin = iFrameDoc.parentWindow;
    //        if (!parwin)
    //            parwin = iFrameDoc.defaultView;
    //        objOuter = parwin.document.getElementById('navTreeOuter');
    //        objMeter = parwin.document.getElementById('MDIMeter');
    //        if (objMeter != null && objOuter != null) {
    //            if (objMeter.style.width != objOuter.clientWidth) {
    //                objMeter.style.width = objOuter.clientWidth + "px";
    //            }
    //        }
    //        else {
    //            alert("MDI Meter NOT found!");
    //        }
    //    }
    //    else {
    //        alert("RMXIframe NOT found!")
    //    }
    //}

   
    function SetUserNameFocus() {
        var username = document.getElementById('cphMainBody_Login1_UserName'); //asharma326 remove ctl00 for frmwrk 4.0
        if(username != null) {
            
            username.focus();
        }
      
    }
   
</script>
    <form id="frmRMXMain" runat="server" >
        <asp:contentplaceholder id="cphHeader" runat="server">
            <div id="banner"></div>
            <div id="header-menu"></div>
            <div>
                <asp:loginstatus id="Loginstatus1" logouttext="Logout"
                    runat="server" logoutaction="Redirect" 
                    onloggingout="Loginstatus1_LoggingOut" />
            </div>
        </asp:contentplaceholder>
        <asp:contentplaceholder id="cphMainBody" runat="server" />
    </form>
</body>
</html>
