﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="UtilityTemplate.Master.cs" enabletheming="true" Inherits="Riskmaster.UI.Utilities.UtilityTemplate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="cphHead" runat="server">
        
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ScriptManager ID="ScriptManager1" runat="server" />
        <asp:ContentPlaceHolder ID="cphUtilityBody" runat="server">
            
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
