
/* default layout 
.ajax__tab_xp .ajax__tab_header {white-space:nowrap;}
.ajax__tab_xp .ajax__tab_outer {display:-moz-inline-box;display:inline-block}
.ajax__tab_xp .ajax__tab_inner {display:-moz-inline-box;display:inline-block}
.ajax__tab_xp .ajax__tab_tab {margin-right:4px;overflow:hidden;text-align:center;cursor:pointer;display:-moz-inline-box;display:inline-block}
*/

/* xp theme */
.ajax__tab_xp2 .ajax__tab_header
{
	font-family:verdana,tahoma,helvetica;
    font-size:11px;
    background:url(~/Images/tab-line.gif) repeat-x bottom;
}

.ajax__tab_xp2 .ajax__tab_outer
{
	background:url(~/Images/tab-right.gif) no-repeat right;
	height:21px;
}

.ajax__tab_xp2 .ajax__tab_inner
{
	padding-left:3px;
	background:url(~/Images/tab-left.gif) no-repeat;
}

.ajax__tab_xp .ajax__tab_tab {
	height: 20px !important;
}

.ajax__tab_xp2 .ajax__tab_tab
{
	/*height:13px;
	padding:4px;
	margin:0;
	background:url(~/Images/tab.gif) repeat-x;*/

	padding: 2px 4px;
    FONT-WEIGHT: bolder;FONT-SIZE: 10pt;FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #4183b5;
    TEXT-ALIGN: center;
    float:left;
    height: 16px;
}

.ajax__tab_xp2 .ajax__tab_body
{
	font-family:verdana,tahoma,helvetica;font-size:10pt;
	border:1px solid #999999;border-top:0;
	padding:8px;
	background-color:#ffffff;
}

/* HOVER */
.ajax__tab_xp2 .ajax__tab_hover .ajax__tab_outer
{
    background:url(~/Images/tab-hover-right.gif) no-repeat right;
}

.ajax__tab_xp2 .ajax__tab_hover .ajax__tab_inner
{
    background:url(~/Images/tab-hover-left.gif) no-repeat;
}

.ajax__tab_xp2 .ajax__tab_hover .ajax__tab_tab
{
    background:url(~/Images/tab-hover.gif) repeat-x;
}

/* ACTIVE TAB */
.ajax__tab_xp2 .ajax__tab_active .ajax__tab_outer
{
    background:url(~/Images/tab-active-right.gif) no-repeat right;
}

.ajax__tab_xp2 .ajax__tab_active .ajax__tab_inner
{
    /*background:url(~/Images/tab-active-left.gif) no-repeat;*/
	
    PADDING-RIGHT: 4px;PADDING-LEFT: 4px;PADDING-BOTTOM: 2px;PADDING-TOP: 2px;
    FONT-WEIGHT: bolder;FONT-SIZE: 10pt;FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;COLOR: #073a6b;
    BORDER:none;
    TEXT-ALIGN: center;
    float:left;
}

.ajax__tab_xp2 .ajax__tab_active .ajax__tab_tab
{
    background:url(~/Images/tab-active.gif) repeat-x;
}

/* ajax modal dialog styles */
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.modalBox
{
	background-color : #f5f5f5;
	background-image: url(~/Images/redX_closeWindow.gif);
	background-position: right top;
	background-repeat: no-repeat;
	border-width: 3px;
	border-style: solid;
	border-color: Blue;
	padding: 3px;
}

.modalBox caption
{
	background-image: url(~/Images/window_titlebg.gif);
	background-repeat:repeat-x;
}

/* tweb modal dialog styles */
.modalPanelTitle td {
	padding: 3px;
	font-weight: bold;
	font-size: 0.9em;
	background-image: url(~/Images/window_titlebg.gif);
	cursor: pointer;
	color: black;
	font-family: Verdana;
	width: 100%;
	height: 30px;
	background-color: #6f90dc;
}

.modalPanel
{
	z-index: 500;
	width: 500px;
	border: solid 1px #275473;
	position: absolute;
	border-collapse: collapse;
	background-color: #f0faff;
}

.modalPanel td
{
	vertical-align: top;
}

.titleIcon
{
	padding-right: 20px;
}

.modalCaption, table modalCaption
{
	background-color: #aaa;
	color: #000;
	font-size: 10pt;
	font-weight: bold;
	border: 0;
	border-bottom: solid 1px #737373;
	white-space: nowrap;
	text-align: center;
}
