#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#**

@author <a href="mailto:harald@ommang.com">Harald Ommang</a>
@version $Id: logfileviewer.vm,v 1.2 2004/03/17 19:19:02 jford Exp $

*#
<form action="$jslink.Template" method="post">
<font color="$!{skin.Color}">
<select name="selectedfile">
#foreach ($appender in $appenders)
    <option value="$appender.file">$files.get($appender.name)</option>
#end
</select>
    <input type="submit" name="eventSubmit_doUpdate"
value="$l10n.LOGFILEVIEWER_PORTLET_VIEWFILE">
#if ($logfile)
    <TEXTAREA name="thetext" rows="20" cols="80">
    $logfile
   </TEXTAREA>
#end
</font>
</form>