#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#**

@author <a href="mailto:taylor@apache.org">David Sean Taylor</a>
@author <a href="mailto:paulsp@apache.org">Paul Spencer</a>
@version $Id: user-browser.vm,v 1.11 2004/03/17 19:19:02 jford Exp $

*#

#set ( $headings = ["Username","First Name", "Last Name", "Email", "Actions"] )
#set ( $filter = $data.getRequest().getParameter("filter_value") )
#set ( $filter_type = $data.getRequest().getParameter("filter_type") )
#set ( $regexp = $data.getRequest().getParameter("filter_regexp") )
#set ( $systemUsers = $config.getVector("services.JetspeedSecurity.system.users"))

#if ($pagelinks) <p align=right>$pagelinks</p> #end
<form method="post">
<b>Filter string (case sensitive):</b> <input type="Text" name="filter_value" value="$!filter"/>
<select name="filter_type">
  <option value="filter_type_username" #if ($filter_type == "filter_type_username") selected #end>User Name</option>
  <option value="filter_type_lastname" #if ($filter_type == "filter_type_lastname") selected #end>Last Name</option>  
</select>
<input type="submit" value="Filter"/>
<INPUT TYPE="CHECKBOX" NAME="filter_regexp" #if($!regexp) checked #end/> Use regular expressions
<table>

  <tr>
    <td>
      <table border="true" cellspacing="1" cellpadding="3">
        <tr>
          #foreach ($heading in $headings)
          #headerCell ($heading)
          #end
        </tr>

        #foreach ($user in $users)
        <tr
          #if ($user.Disabled) class="UserBrowserUserDisabled" #end
          #if ($user.Confirmed != ${s_config.CONFIRM_VALUE}) class="UserBrowserUserConfirmed" #end
        >
          #entryCell ($!user.UserName)
          #entryCell ($!user.FirstName)
          #entryCell ($!user.LastName)
          #entryCell ("<a href=mailto:$!user.Email>$!user.Email</a>")
          <td>
              <a href="$jslink.getPaneByName("UserForm").addPathInfo("entityid",$user.UserName).addQueryData("mode","update")">Edit</a> &nbsp;
              <a href="$jslink.getPaneByName("UserRoleForm").addPathInfo("entityid",$user.UserName)">Roles</a>
              <a href="$jslink.getPaneByName("UserGroupForm").addPathInfo("entityid",$user.UserName)">Groups</a>
              <a href="$jslink.getPaneByName("UserGroupRoleForm").addPathInfo("entityid",$user.UserName)">Group-Roles</a>
              #if ($systemUsers.contains($user.UserName) == false)
              <a href="$jslink.getPaneByName("UserForm").addPathInfo("entityid",$user.UserName).addQueryData("mode","delete")">Remove</a>
              #else
              &nbsp;
              #end
          </td>
        </tr>
        #end
      </table>
    </td>
  </tr>
  <tr>
    <td>
        <a href="$jslink.getPaneByName("UserForm")">Add User</a>
    <td>
  </tr>
</table>
</form>
#if ($pagelinks) <p align=right>$pagelinks</p> #end


