.copy {
	FONT-SIZE: 70%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
.copy1 {
	FONT-SIZE: 70%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
.copy2 {
	FONT-SIZE: 65%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
.copy3 {
	FONT-SIZE: 70%; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
.copy4 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
.copyright {
	FONT-SIZE: 60%; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
.byline {
	FONT-SIZE: 65%; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
.headline1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
.headline2 {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
.headline3 {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
.headline4 {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; COLOR: #ffff99; FONT-FAMILY: verdana,arial,sans
}
.headline5 {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
.headline6 {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
.headline7 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #6666cc; FONT-FAMILY: verdana,arial,sans
}
.headline8 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
.headline10 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans; TEXT-ALIGN: right
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #ffff99; FONT-FAMILY: verdana,arial,sans
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 95%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
P.countryLink {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,arial
}
A:link {
	COLOR: #000000
}
A:visited {
	COLOR: #000000
}
A.link1:link {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
A.link1:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
A.link2:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.link2:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.link2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
A.link3:link {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link3:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link3:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link4:link {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #6666cc; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link4:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #993333; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link5:link {
	FONT-SIZE: 70%; COLOR: #6666cc; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link5:visited {
	FONT-SIZE: 70%; COLOR: #993333; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link6:link {
	FONT-SIZE: 60%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link6:visited {
	FONT-SIZE: 60%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link7:link {
	FONT-SIZE: 60%; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link7:visited {
	FONT-SIZE: 60%; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link7:hover {
	FONT-SIZE: 60%; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link8:link {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
A.link8:visited {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
A.link9:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link9:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link9:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link10:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffff99; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link10:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffff99; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link10:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffff99; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link11:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link11:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link11:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link12:link {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link12:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: none
}
A.link12:hover {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.linksmap:link {
	FONT-WEIGHT: bold; FONT-SIZE: 55%; COLOR: #6666cc; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.linksmap:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 55%; COLOR: #6666cc; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.linksmap:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 55%; COLOR: #6666cc; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
A.linksmaphead:link {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; COLOR: #000000; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.linksmaphead:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; COLOR: #000000; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.linksmaphead:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; COLOR: #000000; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
A.crumb1:link {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.crumb1:visited {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
.crumb2 {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
TD.pipe {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana,arial
}
TH.HEADER508 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: verdana,arial; TEXT-ALIGN: center
}
P.pipe {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 12px; COLOR: #ffffff; LINE-HEIGHT: 150%; FONT-FAMILY: verdana,arial
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 60%; COLOR: #990000; FONT-FAMILY: verdana,arial,sans
}
.errormessage {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #990000; FONT-FAMILY: verdana,arial,sans
}
.greyBullet {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #999999; LINE-HEIGHT: 80%; FONT-FAMILY: arial
}
#aboutusPop {
	Z-INDEX: 100; LEFT: 159px; VISIBILITY: hidden; POSITION: absolute; TOP: 105px
}
#solutionsPop {
	Z-INDEX: 100; LEFT: 159px; VISIBILITY: hidden; POSITION: absolute; TOP: 127px
}
#industriesPop {
	Z-INDEX: 100; LEFT: 159px; VISIBILITY: hidden; POSITION: absolute; TOP: 149px
}
#alliancepartnersPop {
	Z-INDEX: 100; LEFT: 169px; VISIBILITY: hidden; POSITION: absolute; TOP: 171px
}
#investorrelationsPop {
	Z-INDEX: 100; LEFT: 159px; VISIBILITY: hidden; POSITION: absolute; TOP: 193px
}
#mediarelationsPop {
	Z-INDEX: 100; LEFT: 169px; VISIBILITY: hidden; POSITION: absolute; TOP: 215px
}
#newsandeventsPop {
	Z-INDEX: 100; LEFT: 159px; VISIBILITY: hidden; POSITION: absolute; TOP: 237px
}
#clientsPop {
	Z-INDEX: 100; LEFT: 159px; VISIBILITY: hidden; POSITION: absolute; TOP: 259px
}
.cookies {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: verdana,arial
}
A.cookieLinks:link {
	FONT-SIZE: 9px; COLOR: #6666cc; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
A.cookieLinks:visited {
	FONT-SIZE: 9px; COLOR: #6666cc; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
A.cookieLinks:hover {
	FONT-SIZE: 9px; COLOR: #6666cc; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
A.lnnav:link {
	MARGIN-TOP: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; CURSOR: hand; COLOR: #ffffff; MARGIN-RIGHT: 6px; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
A.lnnav:visited {
	MARGIN-TOP: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; CURSOR: hand; COLOR: #ffffff; MARGIN-RIGHT: 6px; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
.noRepeat {
	BACKGROUND-IMAGE: url(/images/Px_Clear.gif); BACKGROUND-REPEAT: no-repeat
}
.imagecaption {
	FONT-SIZE: 60%; COLOR: #000000; FONT-FAMILY: verdana,arial,sans
}
.sidearrowimg {
	
}
A.link13:link {
	FONT-SIZE: 60%; COLOR: #7ba7c7; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link13:visited {
	FONT-SIZE: 60%; COLOR: #7ba7c7; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link14:link {
	COLOR: #7ba7c7; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.link14:visited {
	COLOR: #7ba7c7; FONT-FAMILY: verdana,arial,sans; TEXT-DECORATION: underline
}
A.tNav:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.tNav:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.tNav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
.headerlinkwhite {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.footer {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; COLOR: #888888; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.hdtitlewhite {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.divtop {
	MARGIN-TOP: 0px
}
.sidebartble {
	BORDER-BOTTOM: #888888 1px solid
}
.sidebartd {
	PADDING-BOTTOM: 0px; PADDING-TOP: 6px; BORDER-LEFT-STYLE: none
}
.sidebartdarrow {
	PADDING-BOTTOM: 0px; BORDER-LEFT: #888888 1px solid; PADDING-TOP: 6px
}
.sidebarspacer {
	BORDER-LEFT: #888888 1px solid; BORDER-BOTTOM: #888888 1px solid
}
.searchengine {
	FONT-SIZE: 11px; WIDTH: 150px; FONT-FAMILY: arial,sans; HEIGHT: 16px
}
.countrytitle {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans
}
.countrysidebartitle {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; COLOR: #767676; FONT-FAMILY: verdana,arial,sans
}
BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
