﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestDocumentMgmt.aspx.cs" Inherits="Riskmaster.UI.Document.TestDocumentMgmt" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <a href="http://localhost/RiskmasterUI/UI/Document/DocList.aspx?FormName=event&AttachTableName=event&AttachRecordId=2&FormName=event&psid=11000&Regarding=Attachment for Event  : dvbdffEV2006000001PP &wnd=rmx-widget-handle-2">Attachments</a>
    <a href="http://localhost/RiskmasterUI/UI/Document/DocumentList.aspx?flag=Files&psid=50">"<%$ Resources:hrefFilesID %>"</a>
    </div>
    </form>
</body>
</html>
