﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="RMXPortalTemplate.master.cs" Inherits="RMXPortalTemplate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ContentPlaceHolder id="cphPortalHeader" runat="server">
            <div class="portalheader">
                <asp:image alternatetext="RISKMASTER X" id="imgPortalLogo" imageurl="~/App_Themes/RMXPortal/images/weblogox4.gif" runat="server" />
            </div>
        </asp:ContentPlaceHolder>
        <asp:contentplaceholder id="cphPortalContent" runat="server">
            
        </asp:contentplaceholder>
    </form>
</body>
</html>
