<% 

      String message = null;
      int status_code = -1;
      String exception_info = null;
      String url = null;
      String method = null;
      Throwable theException = null;

      Object myReport = null;
      
      //ErrorReport is an attribute that is set in WebSphere
      //if it exists we will use it to get information about the error
      //if it does not exist we will use the attributes specified by 
      //Servlet 2.2
      myReport = request.getAttribute("ErrorReport");
     
      int needInfo = 1;
      if (myReport != null)
      {
         try
         {
            //Using reflection here so that if the class com.ibm.websphere.servlet.error.ServletErrorReport
            //does not exist at compile time there will not be a problem
            //if this class does not exist we will juse use the attributes specified by Servlet 2.2

            Class myClass = Class.forName("com.ibm.websphere.servlet.error.ServletErrorReport");
            Method myMethod = myClass.getMethod("getErrorCode", null);
            Object o = myMethod.invoke(myReport, null);
            status_code = ((Integer) o).intValue();

            myMethod = myClass.getMethod("getMessage", null);
            o = myMethod.invoke(myReport, null);
            message = (java.lang.String) o;

            myMethod = myClass.getMethod("getStackTrace", null);
            o = myMethod.invoke(myReport, null);
            exception_info = (java.lang.String) o;
            needInfo = 0;
            method = "Using attribute of type com.ibm.websphere.servlet.error.ServletErrorReport to get information."; 

         } catch (Throwable e)
         {
            needInfo = 1;
         }

      }
      //if needInfo is set to 1 it means that using the WebSphere ServletErrorReport class has failed
      //and we must get the information in the standard manner.
      if (needInfo == 1)
      {
         //this means that could not find ibm class. 

         Object theExceptionType = null;
         Integer status = null;
         method = "Using attributes javax.servlet.error.message ...status_code ...exception_type as specified by Servlet 2.2 to get information";
         //these attribute names are specified by Servlet 2.2
         message = (String) request.getAttribute("javax.servlet.error.message");
         status = ((Integer) request.getAttribute("javax.servlet.error.status_code"));
         theExceptionType = request.getAttribute("javax.servlet.error.exception_type");
         theException = (Throwable) request.getAttribute("javax.servlet.error.exception");
         if (theException == null)
             theException = exception;
         
         if (message == null)
         {
            message = "not available";
         }

         if (status == null)
         {
            status_code = -1;             
         } else
         {
            status_code = status.intValue();
         }
         if (theExceptionType == null && theException == null)
         {
            exception_info = "not available";
         } else
         if (theException == null)
         {
            exception_info = theExceptionType.toString();
         } else
         {
            StringWriter writer = new StringWriter();
            PrintWriter pw = new PrintWriter(writer);
            theException.printStackTrace(pw);
            pw.close();
            BufferedReader reader = new BufferedReader(new StringReader(writer.getBuffer().toString()));
            writer = new StringWriter();
            pw = new PrintWriter(writer);
            String line = reader.readLine();
            pw.println(line);
            if (htmlOutput)
                pw.print("<pre>");
            while ((line = reader.readLine()) != null)
            {
                pw.println(line);
            }
            
            Throwable exc = theException;
            for (int i = 0; (i < 5) && (null != exc); i++) 
            {

                try 
                {
				    Method meth =
                        ((Object) exc).getClass().getMethod("getException", //$NON-NLS-1$
                        null);

                    if (null != meth)
                    {
                        Throwable prev = exc;
                        exc = (Throwable) meth.invoke(exc, null);

                        if (prev == exc)
                        {
                            break;
                        }
                    }
                    else 
                    {
                        exc = null;
                    }
                    
                    if (exc != null)
                    {
                        pw.println("---------"); //$NON-NLS-1$
                        exc.printStackTrace(pw);
                    }
                }
                catch (InvocationTargetException ite) 
                {
                    exc = null;
                }
                catch (IllegalAccessException iae) 
                {
                    exc = null;
                }
                catch (NoSuchMethodException nsme) 
                {
                    exc = null;
                }
            }

            if (htmlOutput)
                pw.println("</pre>");
            pw.close();
            exception_info = writer.getBuffer().toString();
         }
      }


      try
      {
         url = request.getRequestURL().toString(); 
      } catch (Exception e)
      {
         url = "information not available";
      }

%>