/* $Id: layout.css 4828 2006-10-19 14:02:29Z shacka $ */

/* Layout Stylesheet */ 


body{
 margin: 0px;
 padding:0;
 }
		 
.leftCol{
 position: absolute;
 top: 2em;
 left: 2em;
 width: 12em;
 border: 2px solid #000000;
 background: #c0c0c0;
 color: #333333;
 margin: 0px;
 padding: 0px;
 text-align: center;
 }

.mainCol{
 margin: 2em 2em 2em 15em;
 border: 2px solid #000000;
 background: #ffffff;
 color: #333333;
 padding: 20px;
 }
