<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Getting help</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta NAME=MS-HAID CONTENT=Getting_help>
<meta name=date content="08 14, 2002 9:27:30 AM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=531>
<meta name=layout-width content=589>
<meta name=x-ignored-words content="DIS;DDS;MedWatch;MCO;pdf">


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="..\w95help_st.css">



</head>

<!--(Body)==========================================================-->


<body>

<p class=buttonbar><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->
<!--Metadata type="DesignerControl" startspan
<object CLASSID="clsid:A2F1FA63-C1E6-11d2-9140-006DC83B9955"
		BORDER=0
		id=object1
		style="width: 80px; height: 19px;"
		width=80
		height=19>
<param name="_Version" value="65536" >
<param name="_ExtentX" value="2117" >
<param name="_ExtentY" value="503" >
<param name="_StockProps" value="13" >
<param name="ForeColor" value="0" >
<param name="BackColor" value="12632256" >
<param name="UseButton" value="-1" >
<param name="UseText" value="0" >
<param name="ControlLabel" value="See Also" >
<param name="UseIcon" value="0" >
<param name="Items" value="Getting_started$$**$$" >
<param name="Image" value="" >
<param name="FontInfo" value="Arial,8,0,," >
<param name="_CURRENTFILEPATH" value="D:\Riskmaster_new\get_started\Getting_help.htm" >
<param name="_ID" value="object1" >
<param name="DialogDisplay" value="1" >
<param name="Frame" value="" >
<param name="Window" value="Second" >
<param name="ChmFile" value="" >
<param name="DisableJump" value="-1" >
</object>-->
<OBJECT
  CLASSID="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
  ID="object1"  TYPE="application/x-oleobject">
  <PARAM  NAME="Command"  VALUE="ALink,MENU">
  <PARAM  NAME="Button"  VALUE="Text:See Also">
  <PARAM  NAME="Font"  VALUE="Arial,8,0,,">
  <PARAM  NAME="Frame"  VALUE="">
  <PARAM  NAME="Flags"  VALUE=",,1">
  <PARAM  NAME="Item1"  VALUE="">
  <PARAM  NAME="Item2"  VALUE="Getting_started">
</OBJECT>

<!--Metadata type="DesignerControl" endspan-->
 </p>

<h2>To get help</h2>

<p class=Introduction>To help you use your RISKMASTER system optimally, 
 CSC, Inc. offers you:</p>

<h4>Online Help</h4>

<p class=Introduction>This online help is designed to assist you as you 
 use RISKMASTER. The online help consists of three types of windows:</p>

<ul>
	
	<li class=kadov-p-CBullets><p class=Bullets><span style="font-weight: bold;
	color: #ffffff;
	background-color: #008080;"><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Conceptual 
 information: </span><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->These 
 windows have teal headings and they help you understand the basics of 
 RISKMASTER.</p></li>
	
	<li class=kadov-p-CBullets><p class=Bullets><span style="color: #ffffff;
	font-weight: bold;
	background-color: #800000;"><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->How 
 to: </span><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->These 
 windows have maroon headings and they give you procedural instructions 
 on how to use RISKMASTER.</p></li>
	
	<li class=kadov-p-CBullets><p class=Bullets><span style="color: #ffffff;
	font-weight: bold;
	background-color: #000080;"><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Dialog 
 help: </span><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->These 
 windows have navy blue headings and they explain all the fields and buttons 
 on each dialog.</p></li>
</ul>

<h4>Technical Support</h4>

<p class=Introduction>Your RISKMASTER service contract explains the conditions 
 for obtaining technical support.</p>

<p class=Introduction>To contact technical support, do one of the following:</p>

<ul>
	
	<li class=kadov-p-CBullets><p class=Bullets>Go to <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->http://<!--kadov_tag{{<ignored>}}-->riskmaster.com<!--kadov_tag{{</ignored>}}-->/</p></li>
	
	<li class=kadov-p-CBullets><p class=Bullets>Call 877-275-3676. </p></li>
</ul>

<p CLASS=morpace>Before you contact technical support have the following 
 information available:</p>

<ul>
	
	<li class=kadov-p-CBullets><p class=Bullets>Your RISKMASTER client 
 number.</p></li>
	
	<li class=kadov-p-CBullets><p class=Bullets>Error message numbers for 
 any errors you encountered and could not resolve.</p></li>
	
	<li class=kadov-p-CBullets><p class=Bullets>A list of the steps you 
 performed just before a problem occurred.</p></li>
</ul>

<p class=Introduction>To shorten the time you spend on a call, fax a description 
 of your problem to 734-462-3151. This gives the technical support staff 
 time to become familiar with your situation before you call.</p>

<p class=Bullets>&nbsp;</p>

</body>

</html>
