﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Address.aspx.cs" Inherits="Riskmaster.UI.FDM.Address" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script language="JavaScript" src="Scripts/form.js">{var i;}  </script>
</head>
<body class="10pt" onload="pageLoaded();">
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
