﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="InsufficientFundFrame.aspx.cs" Inherits="Riskmaster.UI.PrintChecks.InsufficientFundFrame" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Insufficient Funds Reports</title>
</head>
<body>
    <form id="frmData" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
