#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

$page.setTitle("Error")

<table border=1 cellpadding="5"> 
  #* Error Message *#
  <tr> 
    <td>
      <br>
      <h2>There has been an Error!</h2>
      Reason:
      <pre>
        $!data.stackTraceException.toString()
      </pre>
    </td>
  </tr> 

  #* HTTP Parameters *#
  #set ( $keys = $data.getParameters().keys() )
  #if ( $keys )
    <tr> 
      <td>
        <br>
        <h3>Get/Post Data:</h3>
        <table border=0>           
          #foreach ( $key in $keys )                      
            <tr>
              <td><b> $key </b></td>
              <td> = $data.getParameters().getString( $key )</td>
            <tr>
          #end          
        </table>
      </td> 
    </tr> 
  #end

  #* Debug Keys *#
  #set ( $keys = $data.getVarDebug().keys() )
  #if ( $keys )
    #if ( $keys.hasMoreElements() )
      <tr> 
        <td>
          <br>
          <h3>Debugging Data:</h3>
          <table border=0> 
            #foreach ( $key in $keys )            
              <tr>
                <td><b> $key </b></td>
                <td> = $data.getVarDebug().get( $key ) </td>
              <tr>
            #end
          </table>
        </td> 
      </tr> 
    #end
  #end

  #* Stacktrace *#
  #if ( $data.getStackTrace() )
    <tr> 
      <td>
        <br>
        <h3>Stacktrace:</h3>
        <pre>      
          $data.getStackTrace()      
        </pre>
      </td> 
    </tr>
  #end
</table> 
 


