﻿<!--Event-->
<div class="row" ng-swipe-left="left()">
    <div class="col-xs-12" ng-show="toggle">
        <p class="alert alert-success text-center"><span ng-show="pinned">Pinned to </span><span ng-hide="pinned">Unpinned from</span> home!</p>
    </div>
    <!--Task Modal Popup-->

        <div id="myTasks" class="modal fade" role="dialog" aria-labelledby="myTaskLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center" id="myTaskLabel">Attach Task</h4>
                    </div>
                    <div class="panel-body">
                        <form name="task_form" novalidate ng-submit="submitTask()">
                            <div class="form-group">
                                <input class="form-control"
                                       type="text"
                                       placeholder="name"
                                       name="name"
                                       ng-model="task.name"
                                       required autofocus="true"/>
                                <div class="error-container" ng-show="(task_form.name.$dirty && task_form.name.$invalid)||task_form.submitted">
                                    <small class="error" ng-show="task_form.name.$error.required">Name is required</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <select class="form-control"
                                        ng-model="taskEntered"
                                        ng-options="task.ShortCode+' '+task.Desc for task in taskTypes.Codes">

                                    <option ng-hide="taskEntered" value="">Select Task Type</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control"
                                       type="text"
                                       placeholder="Due Date"
                                       ng-model="task.dueDate"
                                       onfocus="(this.type='date')"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control"
                                       type="text"
                                       placeholder="Time Due"
                                       ng-model="task.dueTime"
                                       onfocus="(this.type='time')"/>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control"
                                          placeholder="description"
                                          ng-model="task.description"
                                          rows="4"/>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>


    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">{{event["Event Number"]}}
               <span class="pull-right">
                   <img src="images/pin.png" ng-click="pin()" ng-hide="pinned" class="img-circle" style="background: white"/>
                   <img src="images/unpin.png" ng-click="unPin()" ng-show="pinned" class="img-circle" style="background: white"/>
               </span>
            </div>
            <div class="panel-body">
                <i class="fa fa-clock-o"/>  : {{event["Event Date"]["formatedtext"]}}<span ng-if="event['Loc.: State']">,</span> {{event["Loc.: State"]}}
                <hr />
                <p>{{event["Event Description"]}}</p>
                <hr class="fullWidth"/>
                <div class="media">
                    <div class="media-body">
                        <i class="fa fa-location-arrow"/> :  {{event["Loc.: Address 1"]}}<span ng-if="event['Loc.: Address 2']">,</span> {{event["Loc.: Address 2"]}}
                        <span ng-if="event['Loc.: City']">,</span> {{event["Loc.: City"]}}<span ng-if="event['Loc.: Country']">,</span> {{event["Loc.: Country"]}}
                        <span ng-if="event['Loc.: State']">,</span>
                        {{event["Loc.: State"]}}<span ng-if="event['Loc.: ZIP/Postal Code']">,</span> {{event["Loc.: ZIP/Postal Code"]}}
                    </div>
                    <a href='geo:geoCodes' class="h5 pull-left"><i class="fa fa-map-marker"/> : Open in google map  </a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel-group" id="eventPanels">
            <!--Claims-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#eventPanels" data-target="#claims" class="fullWidth2">Claims</a>
                                <span class="pull-right">
                                   ( {{claims.length || 0}})
                                </span>
                    </h4>
                </div>
                <div id="claims" class="panel-collapse collapse">
                    <div ng-hide="claims.length">
                        <div class="panel-body">
                            No claims attached

                        </div>
                    </div>
                    <div class="panel-body" ng-repeat="claim in claims">
                        <span class="col-xs-12"><strong>Claim :</strong> <a href='#/claims/{{claim["Claim Number"]}}' class="text-info"> {{claim["Claim Number"]}}</a> &nbsp;&nbsp;<i class="fa fa-share-square-o"></i></span>
                        <span class="col-xs-12"><strong>Claimant :</strong> {{claim["Claimant First Name"]}} &nbsp; {{claim["Claimant Last Name"]}}</span>
                        <br />
                    </div>
                </div>
            </div>

            <!--Tasks-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#eventPanels" data-target="#tasks" class="fullWidth2">Tasks</a>
                                <span class="pull-right">
                                    ({{tasks.length||0}})
                                    <a data-toggle="modal" ng-click="showMyTask()"><span class="glyphicon glyphicon-plus" ></span></a>
                                </span>
                    </h4>
                </div>
                <div id="tasks" class="panel-collapse collapse">
                    <div ng-hide="tasks.length">
                        <div class="panel-body">
                            No tasks here! <span class="pull-right">Add One <i class="fa fa-hand-o-up"></i></span>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="tasks.length">
                        <div class="form-group">
                            <input ng-model="Data.task" type="text" class="form-control" placeholder="Search in tasks" />
                        </div>
                    </div>
                    <div class="panel-body" ng-repeat="task in tasks | filter: Data.task">
                        <span class="col-xs-12 col-sm-2"><strong>Task Name :</strong></span>
                        <span class="col-xs-12 col-sm-10">{{task.taskSubject}}</span>
                        <hr class="fullWidth"/>
                        <span class="col-xs-12"><strong>Entry Notes :</strong></span>
                        <span class="col-xs-12"> {{task.entryNotes}}</span>
                        <hr class="fullWidth"/>
                        <span class="col-xs-12 col-sm-2"><strong>Due on :</strong></span>
                        <span class="col-xs-12 col-sm-10"> {{task.completeDate}} {{task.completeTime}}</span>
                        <hr class="fullWidth"/>
                        <span class="col-xs-12 col-sm-2"><strong>Work Activity :</strong></span>
                        <span class="col-xs-12 col-sm-10"> {{task.workActivity}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ghost" />
