<div ng-controller="HeaderCtrl">
    <div class="navbar-fixed-top logo text-center" ng-show="signedIn()">
        <!--sessionReady()-->
        <div class="toggle-nav">
            <i id="jadu" class="fa fa-bars pull-left" style="padding-left:4px;" ng-show="sessionReady()"/>
        </div>
        <span ng-click='goHome()' class="fullWidth2">
            <i class="fa fa-home"/>
        </span>
    </div>
</div>
