<!--homeDiv-->
<div class="row" ng-show="true">
    <div class="col-xs-12 text-center" ng-swipe-right="right()">
        <!--syncInProgressv-->
        <div class="alert alert-info" role="alert" ng-show="syncInProgress">
            Contacting Server  <i class="fa fa-refresh fa-spin"></i>
        </div>
        <!--syncFailed-->
        <div class="alert alert-danger" role="alert" ng-show="syncFailed">
            We are having trouble contacting server. Please try again.
        </div>
        <!--syncSuccess-->
        <div class="alert alert-success" role="alert" ng-show="syncSuccess">
            <!--<span ng-show="syncNewEntriesCount">{{syncNewEntriesCount}} new task<span ng-if="syncNewEntriesCount>1">s</span>!</span>-->
            <!--<span ng-hide="syncNewEntriesCount"><i class="fa fa-smile-o"/> Nothing new </span>-->
            <span class="text-center">Successfully Synced</span>
        </div>
    </div>

    <div ng-hide='progressBarStatus>=100'>
        <div class="col-xs-12 text-center" style="padding-top: 100px;">
            <p>Please wait while we set things up..</p>
        </div>
        <div class="col-xs-12">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{progressBarStatus}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width:(progressBarStatus+'%')}">
                    {{progressBarStatus}}%
                </div>
            </div>
        </div>
    </div>
    <!--ng-hide='progressBarStatus<100'-->
    <div class="col-xs-12" ng-show='progressBarStatus==100'>
        <!--<p class="text-center" ng-hide="syncInProgress"><i class="fa fa-refresh"></i> &nbsp;&nbsp;&nbsp;Last Sync : {{lastUpdated | date:'medium'}}</p>-->


        <ul class="list-group">
            <li class="list-group-item">
                <h4>
                    <a class="btn btn-primary fullWidth orange" href="#/tasks">
                        Tasks
                        <span class="badge pull-right">{{totalTasks - syncNewEntriesCount}}
                            <span ng-if="syncNewEntriesCount>0" style="color: red;"> +{{syncNewEntriesCount}}</span>
                        </span>
                    </a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a class="btn btn-primary fullWidth nephritis" href="#/events">
                        Events<span class="badge pull-right">{{totalEvents}}</span>
                    </a>
                </h4>
            </li>
            <li class="list-group-item">
                <h4>
                    <a class="btn btn-primary fullWidth red" href="#/claims">
                        Claims <span class="badge pull-right">{{totalClaims}}</span>
                    </a>
                </h4>
            </li>
          <!--<li class="list-group-item">-->
            <!--<h4>-->
              <!--<a class="btn btn-primary fullWidth" href="#/peekUsers">-->
                <!--<i class="fa fa-eye"></i> Peek Diaries-->
              <!--</a>-->
            <!--</h4>-->
          <!--</li>-->
          <!--<li class="list-group-item">-->
            <!--<h4>-->
              <!--<a class="btn btn-primary fullWidth" href="#/peekUsers">-->
                <!--<i class="fa fa-map-marker"></i> Track Agents-->
              <!--</a>-->
            <!--</h4>-->
          <!--</li>-->
            <li class="list-group-item">
                <h4>
                    <button class="btn btn-primary fullWidth peterRiver" ng-click="toggle()"><span class="glyphicon glyphicon-pushpin"/> Pinned Items</button>
                </h4>
                <div ng-show='toggleValue'>
                    <div ng-hide='pins.length'>
                        <div class="panel">
                            <div class="panel-body text-center">
                                <p>Your pinned items will show here</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="pins.length">
                        <div class="list-group text-center">
                            <a href="#{{pin.link}}" class="list-group-item fullWidth" ng-repeat="pin in pins">{{pin.info}} : {{pin.name}}</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <!--<div class="col-xs-12" ng-if='progressBarStatus==100'>-->
        <!--<div class="well" style="color: white; background-color: #2c3e50">-->
            <!--<p class="text-center"><i class="fa fa-refresh"></i> &nbsp;&nbsp;&nbsp;Last Sync : {{lastUpdated | date:'medium'}}</p>-->
        <!--</div>-->
    <!--</div>-->
</div>

