<div ng-show="loading">
  <div class="row">
    <span class="col-xs-12 text-center"><strong>Fetching Diaries</strong></span>
  </div>
  <div ng-include="'views/loading.html'"></div>
</div>
<div class="row" ng-swipe-left="left()" ng-hide="loading">
  <div class="col-xs-12" ng-show="error">
    <div class="panel panel-primary">
      <div class="panel-heading text-center ">
        Error Fetching Results
      </div>
    </div>
  </div>
  <div class="col-xs-12" ng-hide="error">

    <div class="form-group">
      <input ng-model="Data.message" type="text" class="form-control" placeholder="Search Diaries" />
    </div>
    <div class="form-group">
      <p class="btn btn-primary btn-block">You are viewing {{user}}'s Diaries</p>
    </div>
    <div class="panel panel-primary" ng-repeat="d in diaries | filter: Data.message track by $index">
      <div class="panel-heading">
        <strong> Subject : </strong>{{d.name}}
      </div>
      <div class="panel-body">
                <span class="col-xs-12"><strong>Entry Notes : </strong>
                {{d.entryNotes}}
                </span>

                <span class="col-xs-12">
                <strong>Due on : </strong> {{d.completeDate}} {{d.completeTime}}
                </span>

                <span class="col-xs-12"><strong>Work Activity : </strong>
                    {{d.workActivity}}
                </span>

        <span class="col-xs-12"><strong>Attached To : </strong> {{d.attachPrompt}}</span>

                <!--<span class="col-xs-12" ng-if='d.attachments.length>2'>-->
                    <!--<strong>  Attach To : </strong><br/>-->
                <!--<span ng-show='d.linked'>-->
                <!--<span ng-if="d.type=='C'"><a href='#/claims/{{d["linked"]}}' class="text-info" >{{d["linked"]}}</a> &nbsp;&nbsp;<i class="fa fa-share-square-o"></i></span>-->
                <!--<span ng-if="d.type=='E'"><a href='#/events/{{d["linked"]}}' class="text-info" >{{d["linked"]}}</a> &nbsp;&nbsp;<i class="fa fa-share-square-o"></i></span>-->
                <!--</span>-->
                <!--</span>-->
      </div>

    </div>
  </div>
  <div class="col-xs-12" ng-if='diaries.length==0'>
      <h3 class="btn btn-default btn-block">This user does not have any task assigned.</h3>
  </div>
</div>

