<div ng-controller="SideMenuCtrl">
    <nav>
        <ul>
            <li>
                    <div class="text-center"><img src="images/csc.png" style="vertical-align: middle; /* padding:5px; */">
                        <br><br>
                        <span style="color:red;font-size: 18px;font-weight: bolder;">RISKMASTER<br><br></span>
                    </div>
            </li>
            <li class="text-center">
                <span style="color: white;font-size: 18px;">
                Hello {{fullName}}
                </span>
            </li>
            <li>
                <a href="#/home"  ng-click="hideSideMenu(); reload()">
                    <i class="fa fa-refresh"></i>&nbsp;&nbsp; Sync App
                </a>
            </li>
            <li>
                <a href="#/home"  ng-click="hideSideMenu(); fullReload()">
                    <i class="fa fa-download"></i>&nbsp;&nbsp; Reload App
                </a>
            </li>
            <li>
                <a href="#/settings"  ng-click="hideSideMenu()">
                    <i class="fa fa-gear"></i>&nbsp;&nbsp; Security
                </a>
            </li>
            <li>
                <a href="#/feedback"  ng-click="hideSideMenu()">
                    <i class="fa fa-comment"></i>&nbsp;&nbsp; Feedback
                </a>
            </li>
            <li>
                <a href="#/about"  ng-click="hideSideMenu()">
                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp; About
                </a>
            </li>
            <li>
                <a href="#/" ng-click="hideSideMenu();logout()">
                    <i class="fa fa-sign-out"></i>&nbsp;&nbsp; Logout
                </a>
            </li>
        </ul>
    </nav>
</div>
