/*
 * Copyright 2004-2005 Sun Microsystems, Inc.  All rights reserved.
 * Use is subject to license terms.
 */

/* GLOBAL STYLES */
BODY, TH, TD, P, DIV, SPAN, INPUT, SELECT, TEXTAREA, FORM, B, STRONG, I, U, DL, DD, DT, UL, LI, OL, OPTION, OPTGROUP, A {font-family:arial, helvetica, sans-serif;font-size:12px}
H1 {font-family:arial, helvetica, sans-serif;font-weight:bold;font-size:18px}
H2 {font-family:arial, helvetica, sans-serif;font-weight:bold;font-size:15px}
H3, H4 {font-family:arial, helvetica, sans-serif;font-weight:bold;font-size:12px}
H5, H6 {font-family:arial, helvetica, sans-serif;font-weight:bold;font-size:11px}
.DefBdy {color:#333;background-color:#FFF;margin:0px}
a:link {color:#3A2EB5;text-decoration:none}
a:visited {color:#3A2EB5;text-decoration:none}
a:hover {color:#3A2EB5;text-decoration:underline}
.ConMgn {margin:0px 10px}

/* SKIP NAVIGATION LINK */	
.SkpWht {background-color:#FFF}
.SkpMedGry1 {background-color:#CCC}

/* WIZARD */
.WizMst {position:fixed;width:100%;height:55px;top:0;right:0;bottom:auto;left:0;background:#FFF}
.WizTtl {position:fixed;width:100%;height:50px;top:55px;right:0;bottom:auto;left:0;background:#FFF;border-bottom:solid 5px #FFF}
.WizStp {position:absolute;width:30%;top:110px;right:auto;bottom:0px;left:0;background:#FFF;color:#333;overflow:auto}
.WizBdy {position:absolute;width:70%;top:110px;right:0;bottom:55px;left:30%;background:#FFF;color:#333;border-left:#CCC 1px solid;overflow:auto}
.WizBtn {position:absolute;width:70%;height:50px;top:auto;right:0;bottom:5px;left:30%;border-left:#CCC 1px solid;background:#FFF}
.WizStpTab {margin:2px 0px 0px 0px;background:#FFF}
.WizStpTbl {background:#FFF}
.WizStpNumDiv {margin:0px 5px 20px 22px}
.WizStpArwDiv {margin:0px 5px 20px 1px}
.WizStpTxtDiv {margin:0px 10px 20px 0px}
.WizStpTxt {color:#333;font-weight:normal}
.WizStpCurTxt {color:#333;font-weight:bold;vertical-align:top}
a.WizStpLnk:link, a.WizStpLnk:visited {color:#3A2EB5;text-decoration:none}
a.WizStpLnk:hover {color:#3A2EB5;text-decoration:underline}
.WizHlpDiv {margin:15px 10px 5px 22px}
.WizHlpTxt {color:#333}
.WizSubTtlDiv {margin:10px 0px 0px 10px}
.WizSubTtlTxt {color:#333;font-weight:bold;font-size:15px}
.WizSubStpTtlDiv {margin:2px 0px 0px 10px}
.WizSubStpTtlTxt {color:#333;font-weight:bold;font-size:12px}
.WizCntHlpTxt {color:#333; margin:15px 10px 10px 10px}
.WizBtnDiv {margin:20px 10px 10px 10px}

/* HELP WINDOW */
.HlpStpTab {margin:5px 0px 15px 0px;background:#FFF}
.HlpBtnDiv {margin:3px 10px}
.HlpTtlDiv {margin:15px 0px 0px 10px}
.HlpSchDiv {margin:5px 5px 5px 10px}
.HlpRltDiv {margin-top:6px}
.HlpIdxDiv {margin:5px 5px 5px 10px}
body.HlpBdy {background-color:#FFF;color:#333;margin:10px}
body.HlpBdy h1 {font-family:arial, helvetica, sans-serif;margin-bottom:-7px;font-weight:bold;font-size:16px}
body.HlpBdy h2 {font-family:arial, helvetica, sans-serif;margin-bottom:-10px;font-weight:bold;font-size:14px}
body.HlpBdy h3 {font-family:arial, helvetica, sans-serif;margin-bottom:-10px;font-weight:bold;font-size:13px}
body.HlpBdy h4 {font-family:arial, helvetica, sans-serif;margin-bottom:-10px;font-weight:bold;font-size:12px}
body.HlpBdy h5, H6 {font-family:arial, helvetica, sans-serif;margin-bottom:-10px;font-weight:bold;font-size:11px}
body.HlpBdy a:link {color:#3A2EB5;text-decoration:underline}
body.HlpBdy a:visited {color:#3A2EB5;text-decoration:underline}
body.HlpBdy a:hover {color:#3A2EB5;text-decoration:underline}

/* Used for interim help solution */
.help-body {background-color:#FFF;color:#000}
.help-body a:link  {color:#3A2EB5;text-decoration:underline}
.help-body a:active {color:#3A2EB5;text-decoration:underline}
.help-body a:hover  {color:#594FBF;text-decoration:underline}
.help-body a:visited {color:#594FBF;text-decoration:underline}
.help-header-1 {color:#333;font-weight:bold;margin:8px 0px 3px;font-size:18px}
.help-header-2 {color:#333;font-weight:bold;margin:8px 0px 3px;font-size:15px}
.help-header-3 {color:#333;font-weight:bold;margin:8px 0px 3px}
.help-table-header-row {background-color:#CCC}
a.help-toc-link:link, a.help-toc-link:active {color:#3A2EB5;text-decoration:underline}
a.help-toc-link:hover, a.help-toc-link:visited {color:#594FBF;text-decoration:underline}
a.help-return-link:link, a.help-return-link:active {color:#3A2EB5;text-decoration:underline}
a.help-return-link:hover, a.help-return-link:visited {color:#594FBF;text-decoration:underline}

/* CONTENT-PROPERTIES PAGES */
.ConLin {border-right:solid 10px #FFF;background-color:#E5E5E5}
.ConFldSetDiv {}
.ConFldSet {border:none;margin-top:7px;margin-left:10px}
.ConFldSetLgd {color:#333;font-weight:bold;font-size:15px;margin:0px 0px 5px -8px}
.ConFldSetLgdDiv {}
.ConSubSecTtlTxt {margin:10px 0px 3px;color:#333;font-weight:bold}
.ConSubSecDiv {margin:10px 10px 0px 10px}
.ConTblCl1Div {margin:8px 10px 0px 10px}
.ConTblCl2Div {margin:7px 10px 0px 0px}
.ConEmbTblCl1Div {margin:6px 10px 0px 30px}
.ConEmbTblCl2Div {margin:3px 10px 0px 0px}
.ConJmpScnDiv {margin:8px 10px 0px 0px}
.ConJmpLnkDiv {margin:7px 25px 0px 26px;text-indent:-16px}
.ConRqdDiv {text-align:right;margin:5px 10px 5px 0px}
.ConDefTxt {color:#333}
.ConRqdTxt {color:#333}
.ConJmpTopDiv {margin:15px 10px 15px 10px}
.ConErrLblTxt {color:#C00;font-weight:bold}
.ConWrnLblTxt {color:#C90;font-weight:bold}
.ConEmbTblCl1Div input {margin-left:-10px;vertical-align:middle}
div.ConTblCl2Div input {vertical-align:middle}
div.ConTblCl2Div select {vertical-align:middle}
a.JmpLnk:link, a.JmpLnk:visited {color:#3A2EB5;text-decoration:none}
a.JmpLnk:hover {color:#3A2EB5;text-decoration:underline}
a.JmpTopLnk:link, a.JmpTopLnk:visited {color:#3A2EB5;text-decoration:none}
a.JmpTopLnk:hover {color:#3A2EB5;text-decoration:underline}

/* TREE */
a.TreParLnk:link, a.TreParLnk:visited {color:#3A2EB5;text-decoration:none;font-weight:bold}
a.TreParLnk:hover {color:#3A2EB5;text-decoration:underline;font-weight:bold}
a.TreLnk:link, a.TreLnk:visited {color:#3A2EB5;text-decoration:none}
a.TreLnk:hover {color:#3A2EB5;text-decoration:underline}
.TreSelTxt {color:#333;font-weight:bold}
a.TreSelLnk:link, a.TreSelLnk:visited {color:#333;text-decoration:none;font-weight:bold}
a.TreSelLnk:hover {color:#333;text-decoration:underline;font-weight:bold}
.TreLnkSpc {margin-left:3px}
.TreRotRow {background-color:#CCC}
tr.TreSelRow td {background-color:#FFF}
.TreImg {margin-top:2px;margin-bottom:1px} 
.TreTbl {background-color:#E5E5E5}
.TreBdy {color:#333;background-color:#E5E5E5;margin:0px}
.TreTtl {color:#333;font-weight:bold}
/* white version */
tr.TreWhtSelRow td {background-color:#E5E5E5}
.TreWhtTbl {background-color:#FFF}
.TreWhtBdy {color:#333;background-color:#FFF;margin:0px}

/* ACTION TABLE  */
table.Tbl {background-color:#FFF;color:#333;width:100%;border-top:none;border-left:solid 10px #FFF;border-right:solid 10px #FFF;border-bottom:solid 1px #999}
.TblMgn {}
table.Tbl td {border-left:solid 10px #FFF;border-bottom:solid 1px #D8D8D8;border-top:none;border-right:none;padding:4px 10px 2px 5px}
table.Tbl th {border-left:solid 10px #FFF;border-bottom:solid 1px #D8D8D8;border-top:none;border-right:none;padding:4px 10px 2px 5px;font-weight:normal}
.TblTdLyt {} 
.TblTtlTxt {padding:3px 10px;text-align:left;background-color:#999;color:#FFF;font-weight:bold;font-size:15px;border-left:solid 10px #FFF;border-right:solid 10px #FFF}
table.Tbl td.TblActTd {border:none;background-color:#CCC;padding:5px 10px;vertical-align:middle} 
.TblActLbl {color:#666;font-weight:bold}
table.Tbl td.TblTdLst {border-bottom:none}
table.Tbl th.TblTdLst {border-bottom:none}
table.Tbl td.TblTdCl1 {border-left:none;padding:4px 10px 2px}
table.Tbl th.TblTdCl1 {border-left:none;padding:4px 10px 2px}
table.Tbl td.TblTdCl1Lst {border-left:none;border-bottom:none;padding:4px 10px 2px}
table.Tbl th.TblTdCl1Lst {border-left:none;border-bottom:none;padding:4px 10px 2px}
table.Tbl th.TblColHdr {vertical-align:bottom;padding:5px 10px 3px 5px}
table.Tbl th.TblColHdrCl1 {border-left:none;vertical-align:bottom;padding:5px 10px 3px}
.TblHdrTxt {color:#666;font-weight:bold}
table.Tbl th.TblColHdrSrt {background-color:#E5E5E5;border-bottom:solid 2px #FFF;padding:6px 10px 2px 5px;vertical-align:bottom}
table.Tbl td.TblTdSrt {background-color:#E5E5E5;border-bottom:solid 2px #FFF}
table.Tbl th.TblTdSrt {background-color:#E5E5E5;border-bottom:solid 2px #FFF}
table.Tbl td.TblTdSrtLst {background-color:#E5E5E5;border-bottom:none}
table.Tbl th.TblTdSrtLst {background-color:#E5E5E5;border-bottom:none}
table.Tbl th.TblColHdrSrtCl1 {background-color:#E5E5E5;border-left:none;border-bottom:solid 2px #FFF;padding:6px 5px 2px 10px;vertical-align:bottom}
table.Tbl td.TblTdSrtCl1 {background-color:#E5E5E5;border-left:none;border-bottom:solid 2px #FFF;padding:4px 10px 3px}
table.Tbl th.TblTdSrtCl1 {background-color:#E5E5E5;border-left:none;border-bottom:solid 2px #FFF;padding:4px 10px 3px}
table.Tbl td.TblTdSrtCl1Lst {background-color:#E5E5E5;border:none;padding:4px 10px 3px}
table.Tbl th.TblTdSrtCl1Lst {background-color:#E5E5E5;border:none;padding:4px 10px 3px}
table.Tbl th.TblColHdrSrtSelCl1 {background-color:#E5E5E5;border-left:none;border-bottom:solid 2px #FFF;text-align:center;vertical-align:bottom;padding:5px 5px 3px 10px}
table.Tbl td.TblTdSrtSelCl1 {background-color:#E5E5E5;border-left:none;border-bottom:solid 2px #FFF;padding:1px 3px}
table.Tbl td.TblTdSrtSelCl1Lst {background-color:#E5E5E5;border:none;padding:1px 3px}
table.Tbl th.TblColHdrSel {border-left:none;text-align:center;vertical-align:bottom;padding:1px 10px 4px 10px}
table.Tbl td.TblTdSel {border-left:none;vertical-align:top;text-align:center;padding:1px 3px}
table.Tbl td.TblTdSelLst {border:none;vertical-align:top;text-align:center;padding:1px 3px}
table.Tbl th.TblTdSpc {border-bottom:solid 1px #E5E5E5}
table.Tbl td.TblTdSpc {border-bottom:solid 1px #E5E5E5}
table.Tbl td.TblTdSpcLst {border-bottom:none}
table.Tbl td.TblTdAlm {background-color:#FFFEE7}
table.Tbl th.TblTdAlm {background-color:#FFFEE7}
table.Tbl td.TblTdAlmCl1 {background-color:#FFFEE7;border-left:none;padding:4px 10px 2px}
table.Tbl th.TblTdAlmCl1 {background-color:#FFFEE7;border-left:none;padding:4px 10px 2px}
table.Tbl td.TblTdAlmLst {background-color:#FFFEE7;border-bottom:none}
table.Tbl th.TblTdAlmLst {background-color:#FFFEE7;border-bottom:none}
table.Tbl td.TblTdAlmCl1Lst {background-color:#FFFEE7;border-left:none;border-bottom:none;padding:4px 10px 2px}
table.Tbl th.TblTdAlmCl1Lst {background-color:#FFFEE7;border-left:none;border-bottom:none;padding:4px 10px 2px}
table.Tbl td.TblTdSrtAlm {background-color:#FFFEE7;border-bottom:solid 2px #FFF}
table.Tbl th.TblTdSrtAlm {background-color:#FFFEE7;border-bottom:solid 2px #FFF}
table.Tbl td.TblTdSrtAlmLst {background-color:#FFFEE7;border-bottom:none}
table.Tbl th.TblTdSrtAlmLst {background-color:#FFFEE7;border-bottom:none}
table.TblHdrTbl td {border:none;padding:0px;vertical-align:bottom}
a.TblHdrLnk:link, a.TblHdrLnk:visited {color:#3A2EB5;text-decoration:none;font-weight:bold}
a.TblHdrLnk:hover {color:#3A2EB5;text-decoration:underline;font-weight:bold}
table.TblHdrTbl img {margin-bottom:3px}
a.TblNavLnk:link, a.TblNavLnk:visited {color:#3A2EB5;text-decoration:none}
a.TblNavLnk:hover {color:#3A2EB5;text-decoration:underline}
a.TblActLnk:link, a.TblActLnk:visited {color:#3A2EB5;text-decoration:none}
a.TblActLnk:hover {color:#3A2EB5;text-decoration:underline}
.TblMsgTxt {color:#333}
.TblPgnTxtBld {color:#666;font-weight:bold}
.TblPgnTxt {color:#666}

/* MENUS */
.MnuJmp {background-color:#E5E5E5;color:#3A2EB5}
.MnuJmpOpt {background-color:#E5E5E5;color:#3A2EB5}
.MnuJmpOptSel {background-color:#E5E5E5;color:#3A2EB5}
.MnuJmpOptSep {background-color:#E5E5E5;color:#999}
.MnuJmpOptDis {background-color:#E5E5E5;color:#999}
.MnuJmpOptGrp {background-color:#E5E5E5;color:#333;font-weight:normal;font-style:normal}
.MnuStd {background-color:#FFF;color:#333}
.MnuStdOpt {background-color:#FFF;color:#333}
.MnuStdOptSel {background-color:#FFF;color:#333}
.MnuStdOptSep {background-color:#FFF;color:#999}
.MnuStdOptDis {background-color:#FFF;color:#999}
.MnuStdOptGrp {background-color:#FFF;color:#333;font-weight:normal;font-style:normal}

/* LISTS */
/* Regular List */
.Lst {color:#333}
.LstOpt {color:#333}
.LstOptSel {color:#333}
.LstOptSep {color:#999}
.LstOptDis {color:#999}
.LstOptGrp {color:#333;font-weight:normal;font-style:normal}
/* Contextual Selector for Disabled Appearance */
.LstDis {color:#999}
.LstDis .LstOpt {color:#999}
.LstDis .LstOptSel {color:#999}
.LstDis .LstOptSep {color:#999}
.LstDis .LstOptDis {color:#999}
.LstDis .LstOptGrp {color:#999;font-weight:normal;font-style:normal}
/* Monospace Version */
.LstMno {color:#333;font-family:monospace}
.LstMno .LstOpt {color:#333;font-family:monospace}
.LstMno .LstOptSel {color:#333;font-family:monospace}
.LstMno .LstOptSep {color:#999;font-family:monospace}
.LstMno .LstOptDis {color:#999;font-family:monospace}
.LstMno .LstOptGrp {color:#333;font-family:monospace;font-weight:normal;font-style:normal}
/* Contextual Selector for Disabled Monospace Version */
.LstMnoDis {color:#999;font-family:monospace}
.LstMnoDis .LstOpt {color:#999;font-family:monospace}
.LstMnoDis .LstOptSel {color:#999;font-family:monospace}
.LstMnoDis .LstOptSep {color:#999;font-family:monospace}
.LstMnoDis .LstOptDis {color:#999;font-family:monospace}
.LstMnoDis .LstOptGrp {color:#999;font-family:monospace;font-weight:normal;font-style:normal}

/* BUTTONS  */
.Btn1 {background:#594FBF;color:#FFF;font-weight:bold;padding:0px 5px;margin-right:2px;border:1px solid #594FBF;width:30px;overflow:visible}
.Btn1Hov {cursor:hand;background:#594FBF;color:#FBE249;font-weight:bold;padding:0px 5px;margin-right:2px;border:1px solid #594FBF;width:30px;overflow:visible} 
.Btn1Dis {cursor:default;background:#E5E5E5;color:#999;font-weight:bold;padding:0px 5px;margin-right:2px;border:1px solid #E5E5E5;width:30px;overflow:visible}
.Btn1Def {background:#594FBF;color:#FFF;font-weight:bold;padding:0px 5px;margin-right:2px;border:3px double #594FBF;width:30px;overflow:visible}
.Btn1DefHov {cursor:hand;background:#594FBF;color:#FBE249;font-weight:bold;padding:0px 5px;margin-right:2px;border:3px double #594FBF;width:30px;overflow:visible}
.Btn1Mni {background:#594FBF;color:#FFF;font-size:10px;font-weight:bold;padding:0px 5px;margin-right:2px;border:1px solid #594FBF;width:30px;overflow:visible}
.Btn1MniHov {cursor:hand;background:#594FBF;color:#FBE249;font-size:10px;font-weight:bold;padding:0px 5px;margin-right:2px;border:1px solid #594FBF;width:30px;overflow:visible}
.Btn1MniDis {cursor:default;background:#E5E5E5;color:#999;font-size:10px;font-weight:bold;padding:0px 5px;margin-right:2px;border:1px solid #E5E5E5;width:30px;overflow:visible}
.Btn2 {background:#E2E0F5;color:#3A2EB5;font-weight:bold;padding:0px 5px;margin-right:2px;border:1px solid #E2E0F5;width:30px;overflow:visible}
.Btn2Hov {cursor:hand;background:#CCF;color:#3A2EB5;font-weight:bold;padding:0px 5px;margin-right:2px;border:1px solid #CCF;width:30px;overflow:visible}
.Btn2Dis {cursor:default;background:#E5E5E5;color:#999;font-weight:bold;padding:0px 5px;margin-right:2px;border:1px solid #E5E5E5;width:30px;overflow:visible}
.Btn2Mni {background:#E2E0F5;color:#3A2EB5;font-size:10px;font-weight:bold;padding:0px 5px;margin:0px;border:1px solid #E2E0F5;width:30px;overflow:visible}
.Btn2MniHov {cursor:hand;background:#CCF;color:#3A2EB5;font-size:10px;font-weight:bold;padding:0px 5px;margin:0px;border:1px solid #CCF;width:30px;overflow:visible}
.Btn2MniDis {cursor:default;background:#E5E5E5;color:#999;font-size:10px;font-weight:bold;padding:0px 5px;margin:0px;border:1px solid #E5E5E5;width:30px;overflow:visible}
.BtnTbl .Btn1 {width:100%}
.BtnTbl .Btn1Hov {width:100%}
.BtnTbl .Btn1Dis {width:100%}
.BtnTbl .Btn2 {width:100%}
.BtnTbl .Btn2Hov {width:100%}
.BtnTbl .Btn2Dis {width:100%}
.BtnAryDiv {margin:5px 8px}

/* BREADCRUMBS */
.BcmWhtDiv {background-color:#FFF;margin:10px 10px 0px 10px}
.BcmGryDiv {background-color:#CCC;margin:8px 10px 7px 10px}
.BcmGryTbl {background-color:#CCC}
a.BcmLnk:link, a.BcmLnk:visited {color:#3A2EB5;text-decoration:none}
a.BcmLnk:hover {color:#3A2EB5;text-decoration:underline}
.BcmTxt {color:#333;font-weight:bold}
.BcmSep {color:#333}

/* PAGE TITLE */
.TtlTxtDiv {margin:15px 0px 3px 10px}
.TtlLin {background-color:#808080}
span.TtlTxt {color:#808080;font-size:22px;font-weight:normal}
h1.TtlTxt {color:#808080;font-size:22px;font-weight:normal;margin:0px}
.TtlActDiv {margin:10px 10px 0px 10px}
.TtlHlpDiv {margin:5px 10px 0px 10px}
.TtlVewDiv {margin:10px 10px 0px 10px}
.TtlVewLbl {color:#666;font-weight:bold}
.TtlBtnDiv {margin:0px 8px 5px 10px}
.TtlBtnBtmDiv {margin:5px 8px 0px 10px}

/* ADD-REMOVE-IDIOM */
.AddRmvLbl {color:#666;font-weight:bold;padding-bottom:3px}
.AddRmvLbl2 {color:#333;padding-bottom:3px}
.AddRmvBtnTbl .Btn1 {padding:0px 10px;width:100%}
.AddRmvBtnTbl .Btn1Hov {padding:0px 10px;width:100%}
.AddRmvBtnTbl .Btn1Dis {padding:0px 10px;width:100%}
.AddRmvBtnTbl .Btn2 {padding:0px 10px;width:100%}
.AddRmvBtnTbl .Btn2Hov {padding:0px 10px;width:100%}
.AddRmvBtnTbl .Btn2Dis {padding:0px 10px;width:100%}
.AddRmvVrtFst {border-top:solid 5px #FFF;border-bottom:solid 10px #FFF;width:100px}
.AddRmvVrtWin {border-top:solid 5px #FFF;border-bottom:solid 10px #FFF;border-left:solid 5px #FFF;width:100px}
.AddRmvVrtBwn {border-top:solid 5px #FFF;border-bottom:solid 10px #FFF;border-left:solid 10px #FFF;width:100px}
.AddRmvHrzWin {margin-top:3px;width:120px}
.AddRmvHrzBwn {margin-top:8px;width:120px}

/* INLINE ALERTS */
.AlrtErrTxt {color:#C00;font-weight:bold}
.AlrtWrnTxt {color:#C90;font-weight:bold}
.AlrtInfTxt {color:#669;font-weight:bold}
.AlrtLnkDiv {padding-top:4px}
a.AlrtLnk:link, a.AlrtLnk:visited {color:#3A2EB5;text-decoration:none}
a.AlrtLnk:hover {color:#3A2EB5;text-decoration:underline}

/* FULL ALERTS */
.FulAlrtHdrDiv {margin:10px 10px 5px 10px}
.FulAlrtHdrTxt {color:#333;font-weight:bold;font-size:15px} 
.FulAlrtMsgDiv {margin:5px 10px}
.FulAlrtFrmDiv {margin:10px 10px 5px 10px}
.FulAlrtMsgTxt {color:#333}

/* GENERIC FIELD LABELS */
.LblLev1Txt {color:#333;font-weight:bold;font-size:15px}
.LblLev2Txt {color:#666;font-weight:bold}
.LblLev3Txt {color:#333}
.LblRqdDiv {color:#333}

/* INLINE HELP  */
.HlpPgeTxt {color:#333}
.HlpFldTxt {font-size:11px;color:#333}
a.HlpPgeLnk:link, a.HlpPgeLnk:visited {color:#3A2EB5;text-decoration:none}
a.HlpPgeLnk:hover {color:#3A2EB5;text-decoration:underline}
a.HlpFldLnk:link, a.HlpFldLnk:visited {color:#3A2EB5;text-decoration:none;font-size:11px}
a.HlpFldLnk:hover {color:#3A2EB5;text-decoration:underline;font-size:11px}

/* OLD - STYLE TAB NAVIGATION */
a.Tab1NotSelLnk:link, a.Tab1NotSelLnk:visited {font-weight:bold;color:#3A2EB5;text-decoration:none}
a.Tab1NotSelLnk:hover {text-decoration:underline}
span.Tab1SelTxt {font-weight:bold;color:#333;text-decoration:none}
a.TabNotSelLnk:link, a.TabNotSelLnk:visited {color:#3A2EB5;text-decoration:none}
a.TabNotSelLnk:hover {text-decoration:underline}
span.TabSelTxt {font-weight:bold;color:#333;text-decoration:none}
/* Level 1 Tab Navigation */
div.Tab1 {background-color:#CCC}
table.Tab1Tbl {background-color:#CCC}
td.Tab1TdSel {background-color:#FFF;min-width:90px}
td.Tab1TdNotSel {background-color:#E5E5E5;min-width:90px}
div.Tab1DivSel {padding-left:10px;padding-top:5px;padding-bottom:3px}
div.Tab1DivNotSel {padding-left:7px;padding-bottom:2px;padding-right:3px;border-left:3px solid #E5E5E5;border-top:3px solid #E5E5E5;border-right:3px solid #E5E5E5}
td.Tab1Gtr {background-color:#CCC}
/* Level 2 Tab Navigation */
div.Tab2 {background-color:#FFF}
table.Tab2Tbl {background-color:#FFF}
td.Tab2LinBak {background-color:#CCC}
div.Tab2Sel {padding-top:3px;padding-bottom:1px}
div.Tab2NotSel {padding-top:4px;padding-bottom:2px}
/* Level 3 Tab Navigation */
div.Tab3 {background-color:#FFF}
table.Tab3Tbl {background-color:#FFF}


/* LEVEL 1 TABS */
.Tab1Div {background:#ccc;padding-top:6px;background-image: url(../images/tabs/tab1dot.gif); background-repeat: repeat-x; background-position: right bottom}
a.Tab1Lnk:link, a.Tab1Lnk:visited  {display:block;padding:3px 20px 1px 10px;color:#3a2eb5;background:#b7b7b7;font-weight:bold;text-decoration:none;height:100%;vertical-align:text-bottom;border-top:solid 3px #ccc}
a.Tab1Lnk:hover {text-decoration:underline}
/* Level 1 Tabs - 1 level - contextual selector on Tab1Tbl for selected tab appearance */
table.Tab1TblNew {background-color:#b7b7b7}
table.Tab1TblNew td {background-color:#b7b7b7;vertical-align:top;border-bottom:solid 1px #999}
table.Tab1TblNew td.Tab1TblSpcTd {background-color:#ccc;border-bottom:solid 1px #999}
table.Tab1TblNew td.Tab1TblSelTd {background:#fff;border-left:solid 1px #999;border-right:solid 1px #999;border-top:solid 1px #999;border-bottom:none}
table.Tab1TblNew div.Tab1SelTxtNew {display:block;padding:3px 20px 1px 10px;color:#333;background:#fff;font-weight:bold;vertical-align:text-bottom}
/* Level 1 Tabs - 2 level - contextual selector on Tab1Tbl2 for selected tab appearance */
table.Tab1Tbl2New {background-color:#b7b7b7}
table.Tab1Tbl2New td {background-color:#b7b7b7;vertical-align:top;border-bottom:solid 1px #999}
table.Tab1Tbl2New td.Tab1TblSpcTd {background-color:#ccc;border-bottom:solid 1px #999}
table.Tab1Tbl2New td.Tab1TblSelTd {background:#d8d8d8;border-left:solid 1px #999;border-right:solid 1px #999;border-top:solid 1px #999;border-bottom:none}
table.Tab1Tbl2New div.Tab1SelTxtNew {display:block;padding:3px 20px 1px 10px;color:#333;background:#d8d8d8;font-weight:bold;vertical-align:text-bottom}
/* Level 1 Tabs - 3 level - contextual selector on Tab1Tbl3 for selected tab appearance */
table.Tab1Tbl3New {background-color:#b7b7b7}
table.Tab1Tbl3New td {background-color:#b7b7b7;vertical-align:top;border-bottom:solid 1px #999}
table.Tab1Tbl3New td.Tab1TblSpcTd {background-color:#ccc;border-bottom:solid 1px #999}
table.Tab1Tbl3New td.Tab1TblSelTd {background:#d8d8d8;border-left:solid 1px #999;border-right:solid 1px #999;border-top:solid 1px #999;border-bottom:none}
table.Tab1Tbl3New div.Tab1SelTxtNew {display:block;padding:3px 20px 1px 10px;color:#333;background:#d8d8d8;font-weight:bold;vertical-align:text-bottom}

/* LEVEL 2 TABS */
.Tab2Div {background-color:#d8d8d8;padding-top:5px;background-image: url(../images/tabs/tab2dot.gif); background-repeat: repeat-x; background-position: right bottom}
a.Tab2Lnk:link, a.Tab2Lnk:visited{display:block;color:#3a2eb5;background-color:#d8d8d8;text-decoration:none;vertical-align:bottom;padding:3px 10px 1px}
a.Tab2Lnk:hover {text-decoration:underline}
/* Level 2 Tabs - 2 levels - contextual selector on Tab2Tbl for selected tab appearance */
table.Tab2TblNew {background-color:#d8d8d8}
table.Tab2TblNew td {border-bottom:solid 1px #b7b7b7}
table.Tab2TblNew div.Tab2SelTxt {color:#333;background-color:#fff;font-weight:bold;vertical-align:bottom}
table.Tab2TblNew td.Tab2TblSelTd {background-color:#fff;padding:2px 9px;border-bottom:none;border-top:solid 1px #b7b7b7;border-left:solid 1px #b7b7b7;border-right:solid 1px #b7b7b7}
/* Level 2 Tabs - 3 levels contextual selector on Tab2Tbl3 for selected tab appearance*/
table.Tab2Tbl3New {background-color:#d8d8d8}
table.Tab2Tbl3New td {border-bottom:solid 1px #b7b7b7}
table.Tab2Tbl3New div.Tab2SelTxt {color:#333;background-color:#eee;font-weight:bold;vertical-align:bottom}
table.Tab2Tbl3New td.Tab2TblSelTd {background-color:#eee;padding:2px 9px;border-bottom:none;border-top:solid 1px #b7b7b7;border-left:solid 1px #b7b7b7;border-right:solid 1px #b7b7b7}

/* LEVEL 3 TABS */
.Tab3Div {background-color:#eee;padding-top:5px;background-image: url(../images/tabs/tab3dot.gif); background-repeat: repeat-x; background-position: right bottom}
table.Tab3TblNew {background-color:#eee}
table.Tab3TblNew td {border-bottom:solid 1px #ccc}
a.Tab3Lnk:link,a.Tab3Lnk:visited {display:block;color:#3a2eb5;background:#eee;text-decoration:none;vertical-align:bottom;padding:3px 10px 1px}
a.Tab3Lnk:hover {text-decoration:underline}
table.Tab3TblNew div.Tab3SelTxt {color:#333;background:#fff;font-weight:bold}
table.Tab3TblNew td.Tab3TblSelTd {background-color:#fff;padding:2px 9px;border-bottom:none;border-top:solid 1px #ccc;border-left:solid 1px #ccc;border-right:solid 1px #ccc}

/* Mini-Tabs */
.MniTabDiv {padding-top:7px;background-image: url(../images/tabs/tab3dot.gif); background-repeat: repeat-x; background-position: right bottom}
table.MniTabTbl {border-left:solid 10px #fff;}
table.MniTabTbl td {border-bottom:solid 1px #ccc}
a.MniTabLnk:link,a.MniTabLnk:visited {display:block;color:#3a2eb5;background:#e5e5e5;text-decoration:none;vertical-align:bottom;padding:5px 7px 2px;font-weight:bold}
a.MniTabLnk:hover {text-decoration:underline}
.MniTabSelTxt {color:#333;background-color:#fff;font-weight:bold;vertical-align:bottom}
table.MniTabTbl td.MniTabTblSelTd {background-color:#fff;border-top:solid 1px #ccc;border-left:solid 1px #ccc;border-right:solid 1px #ccc;border-bottom:none;padding:4px 6px 2px}


/* Left Navigation Mini-Tabs -- for help and wizard */
.LftTab {background-color:#FFF}
.LftTabTbl {background-color:#FFF}
.LftTabLinBak {background-color:#CCC}
.LftTabDivSel {padding-top:4px;padding-bottom:1px}
.LftTabDivNotSel {padding:4px 8px 2px;background-color:#E5E5E5}
.LftTabTdNotSel {background-color:#E5E5E5}
a.LftTabLnk:link, a.LftTabLnk:visited {font-weight:bold;color:#3A2EB5;text-decoration:none}
a.LftTabLnk:hover {font-weight:bold;color:#3A2EB5;text-decoration:underline}
.LftTabSelTxt {font-weight:bold;color:#333;text-decoration:none}

/* FILE CHOOSER */
.ChoLblTxt {color:#666;font-weight:bold}
.ChoSrvTxt {color:#333}

/* DATE AND TIME */
a.DatLnk:link, a.DatLnk:visited {color:#3A2EB5;background:#fff;text-decoration:none;padding:3px 3px 1px;border:solid 1px #fff;display:block;width:23px}
a.DatLnk:hover {text-decoration:underline;border:solid 1px #ccc;background-color:#ccf}
a.DatBldLnk:link, a.DatBldLnk:visited {color:#3A2EB5;background-color:#ccf;padding:3px 3px 1px;border:solid 1px #b7b7b7;text-decoration:none;font-weight:bold;display:block;width:23px}
a.DatBldLnk:hover {text-decoration:underline;border:solid 1px #ccc}
a.DatOthLnk:link, a.DatOthLnk:visited {color:#666;background-color:#eee;text-decoration:none;padding:3px 3px 1px;border:solid 1px #eee;display:block;width:23px}
a.DatOthLnk:hover {text-decoration:underline;border:solid 1px #ccc;background-color:#ccf}
a.DatOthBldLnk:link, a.DatOthBldLnk:visited {color:#666;background-color:#ccf;padding:3px 3px 1px;border:solid 1px #b7b7b7;text-decoration:none;font-weight:bold;display:block;width:23px}
a.DatOthBldLnk:hover {text-decoration:underline;border:solid 1px #ccc}
.DatSelDiv {background-color:#ccc;padding:5px 5px 4px}
.DatCalDiv {background-color:#e5e5e5}
.DatDayHdrTxt {color:#666;font-weight:bold;padding:0px 3px}
.DatLblTxt {color:#666;font-weight:bold}
.DatZonTxt {color:#333}


/* MASTHEAD */
span.MstLbl {color:#666}
span.MstTxt {color:#333}
span.MstUsrRole {color:#333}
span.MstAlmDwnTxt {color:#333}
span.MstAlmCrtTxt {color:#333}
span.MstAlmMajTxt {color:#333}
span.MstAlmMinTxt {color:#333}
table.MstTbl {background-color:#CCC}
td.MstTdTtl {background-color:#FFF;vertical-align:top}
td.MstTdBnd {background-color:#81C39F}
td.MstTdAlm {background-color:#EEE;padding-top:2px}
td.MstTdLogo {background-color:#594FBF}
div.MstDivTtl {padding-left:10px;vertical-align:top}
div.MstDivSecTtl {padding-left:10px;vertical-align:top;padding-bottom:15px}
div.MstDivUsr {padding-left:10px;vertical-align:bottom;padding-right:10px;padding-bottom:4px}
div.MstDivAlmRow {padding: 0px 10px 4px;vertical-align:text-bottom}
div.MstDivAlmBotRow {padding: 0px 10px 5px;vertical-align:text-bottom}
div.MstDivPrgRow {padding:7px 10px 5px;vertical-align:text-top}
div.MstDivSch {vertical-align:middle}
a.MstLnk:link, a.MstLnk:visited {color:#3A2EB5;text-decoration:none;font-weight:bold}
a.MstLnk:hover {color:#3A2EB5;text-decoration:underline;font-weight:bold}
a.MstUsrLnk:link, a.MstUsrLnk:visited {color:#3A2EB5;text-decoration:none}
a.MstUsrLnk:hover {color:#3A2EB5;text-decoration:underline}
a.MstAlmLnk:link, a.MstAlmLnk:visited {color:#3A2EB5;text-decoration:none}
a.MstAlmLnk:hover {color:#3A2EB5;text-decoration:underline}
a.MstPrgLnk:link, a.MstPrgLnk:visited {color:#3A2EB5;text-decoration:none}
a.MstPrgLnk:hover {color:#3A2EB5;text-decoration:underline}
div.MstTmeDiv {padding:5px 10px 0px}
div.MstAlmDiv {padding:5px 10px 0px}
div.MstStatDiv {padding:5px 10px 0px}
div.MstStatDiv img {margin-top:-5px;margin-bottom:-3px}


/* VERSION DIALOG */
.VrsMgn {margin:10px 25px 20px}
.VrsHdrTxt {color:#666;font-weight:bold;margin-top:20px;margin-bottom:7px;font-size:15px;} 
.VrsTxt {color:#666;margin-bottom:10px}
.VrsPrdTd {background-color:#FFF}
.VrsLgoTd {background-color:#594FBF}
.VrsLin {background-color:#808080;border-right:solid 15px #FFF}
.VrsBtnAryDiv {margin-top:5px;margin-right:13px}


/* LOCKHART LOGIN SCREEN */
.logLblSvrNam {margin:0px 0px 5px 15px}
.logTxtSvrNam {margin:0px 0px 5px 10px}
.LogUsrLbl {margin:4px 0px 6px 15px}
.LogUsrNam {margin:4px 0px 6px 10px}
.logLbl {margin:0px 0px 3px 15px}
.logInp {margin:0px 0px 3px 10px}
.logLblLst {margin:0px 0px 10px 15px}
.logInpLst {margin:0px 0px 10px 10px}
.logBtn {margin:0px 0px 7px 10px}
.logHlp {margin:0px 15px 7px 10px}
.logErr {margin:5px 15px 5px 10px}
.logCpy {width :720px;margin-top:5px}
.logTxtCpy {font-size:10px;color:#999}


/* LOCKHART LAUNCH PAGE */
.LncMgn {}
.LncTbl {border:solid #FFF 10px}
.LncCbDiv {margin:0px 10px 5px 10px}
.LncHdr {font-weight:bold;color:#FFF;background-color:#999;padding:2px 10px}
.LncHdrTd {background-color:#999}
.LncAppBox {padding:8px}
.LncAppTd {background-color:#EEE}
.LncApp {padding:0px 0px 3px 2px}
.LncTxt {color:#333;padding:0px 0px 3px 2px}
a.LncLnk:link, a.LncLnk:visited {color:#3A2EB5;text-decoration:none}
a.LncLnk:hover {color:#3A2EB5;text-decoration:underline}






/* ---------------------------------------------*/
/* ---------------------------------------------*/
/* ---------------------------------------------*/
/* THESE ARE OLD 1.0 STYLES -- DO NOT USE  for 2.0 */
/* ---------------------------------------------*/
/* ---------------------------------------------*/

/* INTERNET EXPLORER 5+ FOR WINDOWS & NETSCAPE 6 STYLE SHEET */
/* Last Updated 06/17/2002 */
/* See readme.txt for modification history */

/* MASTHEAD */
.masthead-body { background-color: #669}
.masthead-background { background-color: #669}
.masthead-title-row { background-color: #000}
.masthead-separator-row { background-color: #FFF}
.masthead-bottom-row { background-color: #669}
.masthead-text { color: #FFF}
.masthead-role-text { color: #FFF; font-weight: bold}
.masthead-server-text { color: #FFF; font-weight: bold}
a.masthead-link:link, a.masthead-link:visited { color: #FFF;  text-decoration: none}
a.masthead-link:hover { color: #FFF; text-decoration: underline}
a.masthead-link:active { color: #F00; text-decoration: underline}
.masthead-link-divider { color: #F90}
.secondary-masthead-title { color:#FFF; font-size:1.25em; font-weight: bold; margin: 5px 10px}


/* CONSOLE-SPECIFIC STYLES  */
.copyright-text { color: #999; font-size: .9em}
.copyright-separator { background-color: #CCC}
a.plugin-link:link, a.plugin-link:visited { font-weight: bold; color: #669;  text-decoration: underline}
a.plugin-link:active { font-weight: bold; color: #F00; text-decoration: underline}
.plugin-description-text { color: #000 }


/* NAVIGATION TREE  */
.tree-body { background-color: #FFF; color: #000} 
a.tree-node-link:link, a.tree-node-link:visited, a.tree-node-link:active { color: #000; text-decoration: none}


/* GLOBAL TAB NAVIGATION STYLES */

/* Primary Tabs */
.global-tab-unselected { background-color: #99C; text-align: center}
a.global-tab-link:link, a.global-tab-link:visited { color: #FFF; font-weight: bold; text-decoration: none; background-color: #99C}
a.global-tab-link:hover { color: #FFF; font-weight: bold; text-decoration: underline; background-color: #99C}
a.global-tab-link:active { color: #F00; text-decoration: underline}
.global-tab-selected { background-color: #FFC; text-align: center}
.global-tab-text { color: #000; font-weight: bold; background-color: #FFC}

/* Secondary Navigation */
.global-tab-sec-back  { background-color: #FFC}
.global-tab-sec-divider { color: #F90; margin: 2px 0px}
a.global-tab-sec-link:link, a.global-tab-sec-link:visited { margin: 2px 0px;  color: #000; background-color: #FFC; text-decoration: none}
a.global-tab-sec-link:hover { margin: 2px 0px;  color: #000; background-color: #FFC; text-decoration: underline}
a.global-tab-sec-link:active { margin: 2px 0px;  color: #F00; text-decoration: underline}
.global-tab-sec-text { margin: 2px 0px;  color: #000; background-color: #FFC; font-weight: bold}


/* LOCAL TAB NAVIGATION STYLES */

/* Primary Tabs */
.local-tab-back  { background-color: #CCC}
.local-tab-unselected { background-color: #999; text-align: center}
a.local-tab-link:link, a.local-tab-link:visited { color: #000; font-weight: bold; text-decoration: none; background-color: #999}
a.local-tab-link:hover { color: #000; font-weight: bold; text-decoration: underline; background-color: #999}
a.local-tab-link:active { color: #F00; text-decoration: underline}
.local-tab-selected { background-color: #FFF; text-align: center}
.local-tab-text { color: #000; font-weight: bold; background-color: #FFF}

/* Secondary Navigation */
.local-tab-sec-back  { background-color: #FFF}
.local-tab-sec-divider { color: #000; margin: 4px 0px}
a.local-tab-sec-link:link, a.local-tab-sec-link:visited { margin: 4px 0px; color: #000; background-color: #FFF; text-decoration: underline}
a.local-tab-sec-link:hover { margin: 4px 0px; color: #000; background-color: #FFF; text-decoration: underline}
a.local-tab-sec-link:active { margin: 4px 0px; color: #F00; text-decoration: underline}
.local-tab-sec-text { margin: 4px 0px; color: #000; background-color: #FFF; font-weight: bold}


/* BREADCRUMBS */
.breadcrumb-row  { background-color: #CCC}
.breadcrumb-text  { color: #000; font-weight: bold; margin: 3px 10px}
a.breadcrumb-link:link, a.breadcrumb-link:visited { color: #000; font-weight: normal; text-decoration: underline}
a.breadcrumb-link:active { color: #F00; text-decoration: underline}


/* CONTENT AREA */
.content-layout { margin: 0px 10px}


/* BUTTONS */

/* Regular Button - Enabled */
.button-frame-enabled { background-color: #000}
.button-content-enabled { background-color: #CCC; cursor: pointer; cursor: hand}
.button-link-enabled-text { color: #000; margin: 1px 0px; font-weight: bold}
a.button-link:link, a.button-link:visited { color: #000; background-color: #CCC; text-decoration: none}
a.button-link:active { color: #000; background-color: #999; text-decoration: none}

/* Regular Button - Disabled */
.button-frame-disabled { background-color: #999}
.button-content-disabled { background-color: #CCC}
.button-link-disabled-text { color: #999; margin: 1px 0px; font-weight: bold}

/* Mini Button - Enabled */
.mini-button-frame-enabled { background-color: #000}
.mini-button-content-enabled { background-color: #CCC; cursor: pointer; cursor: hand}
.mini-button-link-enabled-text { color: #000; font-size: .9em; margin: 1px 0px; font-weight: bold}
a.mini-button-link:link, a.mini-button-link:visited { color: #000; background-color: #CCC; text-decoration: none}
a.mini-button-link:active { color: #000; background-color: #999; text-decoration: none}

/* Mini Button - Disabled */
.mini-button-frame-disabled { background-color: #999}
.mini-button-content-disabled { background-color: #CCC}
.mini-button-link-disabled-text { color: #999; font-size: .9em; margin: 1px 0px; font-weight: bold}


/* TABLES */

/* Table Title */
.table-title-text { color: #000; font-weight: bold; margin: 0px 5px 2px 0px}

/* Table Colors */
.table-frame { background-color: #99C}
.table-content { background-color: #FFF}
.table-header-row { background-color: #99C}
.table-sort-row { background-color: #CCF}
.table-separator-row { background-color: #CCC}

/* Table text styles  */
.table-header-text   { color: #FFF; font-weight: bold; margin: 2px 5px 2px 10px}
.table-label-text   {  color: #000; margin: 3px 5px 3px 10px}
.table-normal-text   { color: #000;  margin: 3px 5px 3px 10px}
.table-status-ok-text   { color: #000;  margin: 3px 5px 3px 10px}
.table-status-critical-text   { color: #000;  margin: 3px 5px 3px 10px}
.table-status-major-text   { color: #000;  margin: 3px 5px 3px 10px}
.table-status-minor-text   { color: #000;  margin: 3px 5px 3px 10px}
.table-strong-text   { color: #000;  margin: 3px 5px 3px 10px; font-weight: bold}
.sort-row-margin { margin: 0px 5px 0px 10px}
.select-all-margin { margin: 2px}

/* Table hyperlinks that navigate users to other pages */
.table-navlink-text   { color: #669; margin: 3px 5px 3px 10px}
a.table-navlink:link, a.table-navlink:visited { color: #669;  text-decoration: underline}
a.table-navlink:active { color: #F00; text-decoration: underline}

/* Table hyperlinks that invoke actions */
.table-actlink-text   { color: #99C;  margin: 3px 5px 3px 10px; font-weight: bold}
a.table-actlink:link, a.table-actlink:visited { font-weight: normal; color: #669;  text-decoration: underline}
a.table-actlink:active { font-weight: normal; color: #F00; text-decoration: underline}

/* Vertical Pagination Text */
.table-vertpag-label-text { color: #000; font-weight: bold}
.table-vertpag-pages-text { color: #000}
.table-vertpag-title-text { color: #000; font-weight: normal}


/* ALERTS */

/* Inline Alert Frame and Contents */ 
.alert-error-frame { background-color: #C00}
.alert-error-content { background-color: #FFF}
.alert-warning-frame { background-color: #FC0}
.alert-warning-content { background-color: #FFF}
.alert-info-frame { background-color: #99C}
.alert-info-content { background-color: #FFF}

/* Alert Text */
.alert-header-text { color: #000; font-weight: bold; margin: 0px 0px 5px 0px}
.alert-normal-text { color: #000}
.alert-mono-text { color: #000; font-family: monospace}
.alert-strong-text { color: #000; font-weight: bold}
a.alert-link:link, a.alert-link:visited { color: #669; text-decoration: underline}
a.alert-link:active { color: #F00; text-decoration: underline}


/* PROPERTY SHEETS */
.properties-jumpto-text { color: #000}
.properties-level1-label-text { color: #000; margin: 20px 0px 0px 0px; font-weight: bold }
.properties-level2-label-text { color: #000; margin: 20px 0px 5px 20px; font-weight: bold }
.properties-level3-label-text { color: #000; margin: 0px 0px 0px 40px}
.properties-separator {background-color: #CCC}
.properties-normal-text { color: #000}
.properties-required { color:#00F}


/* WIZARDS */

/* Title and Frame Body Colors */
.wizard-title-text { color: #FFF; margin: 5px; font-size:1.25em; font-weight: bold}
.wizard-steps-body  { background-color: #FFF; color: #000}
.wizard-contents-body { background-color: #FFF; color: #000}
.wizard-navigation-body { background-color: #FFF; color: #000}

/* Steps & Help Area */
.wizard-steps-title-text { color: #000; font-weight: bold}
.wizard-steps-divider { background-color: #000 }
.wizard-step-text { color: #000}
.wizard-help-text { color: #000; margin: 3px 0px}
.wizard-step-current-text { color: #000; font-weight: bold}
a.wizard-step-link:link, a.wizard-step-link:visited { color: #669;  text-decoration: underline}
a.wizard-step-link:active { color: #F00; text-decoration: underline}

/* Content Area */
.wizard-content-title-text { color: #000; font-weight: bold; margin: 3px 5px}
.wizard-content-title-row  { background-color: #CCC}
.wizard-content-instr-text { color: #000}
.wizard-content-label-text { color: #000}

/* Wizard Tabs */
.wizard-tab-frame-forward { background-color: #000}
.wizard-tab-content-forward { background-color: #FFF}
.wizard-tab-link-forward-text { color: #000; font-weight: bold; text-decoration: none}
.wizard-tab-frame-back { background-color: #666}
.wizard-tab-content-back { background-color: #CCC}
a.wizard-tab-link:link, a.wizard-tab-link:visited { color: #000; font-weight: bold;  text-decoration: none}
a.wizard-tab-link:active  { color: #000; font-weight: bold; background-color: #999; text-decoration: none}


/* HELP */

/* Inline Help */
.help-text { color: #000} 
a.help-link:link, a.help-link:visited { color: #000; text-decoration: underline}
a.help-link:active { color: #F00; text-decoration: underline} 
.help-small-text { color: #000; font-size: .9em} 
a.help-small-link:link, a.help-link:visited { color: #000; text-decoration: underline}
a.help-small-link:active { color: #F00; text-decoration: underline} 

/* OLD BRANDING -- STYLES-REDEFINED ABOVE */
/* Online Help
.help-body { background-color: #FFF; color: #000}
.help-header-1 { color: #669; font-weight: bold; font-size: 1.25em}
.help-table-header-row { background-color: #CCC}
a.help-toc-link:link, a.help-toc-link:visited { color: #669; text-decoration: underline}
a.help-toc-link:active { color: #F00; text-decoration: underline}
a.help-return-link:link, a.help-return-link:visited { color: #669; text-decoration: underline; font-size: .9em}
a.help-return-link:active { color: #F00; text-decoration: underline; font-size: .9em}
 */

/* DATE-TIME COMPONENT */

.date-time-day-header { color: #000; font-weight: bold}
.date-time-help-text { color: #000; font-size: .9em} 
.date-time-label-text  { color: #000} 
a.date-time-link:link, a.date-time-link:visited { color: #000;  text-decoration: underline}
a.date-time-link:active { color: #F00; text-decoration: underline}
a.date-time-other-link:link, a.date-time-other-link:visited { color: #999;  text-decoration: underline}
a.date-time-other-link:active { color: #F00; text-decoration: underline}
a.date-time-mark-link:link, a.date-time-mark-link:visited { color: #000; font-weight: bold; text-decoration: underline}
a.date-time-mark-link:active { color: #F00; text-decoration: underline}


/* FILE CHOOSER COMPONENT */

.chooser-server-header { color: #000; font-weight: bold}
.chooser-server-text { color: #000}
.chooser-label-text { color: #000}
select.chooser-list { font-family: monospace}
option.chooser-folder-text { color: #000; font-family: monospace}
option.chooser-file-text { color: #666; font-family: monospace}

