﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CommonTasks.ascx.cs" Inherits="Riskmaster.UI.Shared.Controls.CommonTasks" %>	
        <script  type="text/javascript" language="javascript" src='<%=Page.ResolveUrl("~/Scripts/form.js")%>'></script>
      	<script  type="text/javascript" language="javascript" src='<%=Page.ResolveUrl("~/Scripts/WaitDialog.js")%>'></script>