﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RolloverImage.ascx.cs" Inherits="Riskmaster.UI.Shared.Controls.RolloverImage" %>

<asp:hyperlink id="hlImage" runat="server">  
    <asp:image id="imgImage" runat="server"></asp:image>  
</asp:hyperlink> 
