/*
 * ident "@(#)css_ie5win.css 1.57 04/09/21 SMI"
 *
 * Copyright 2004 Sun Microsystems, Inc. All rights reserved.
 * Use is subject to license terms.
 * Version:2004_09_21_v1_bde
 */

/* GLOBAL STYLES */
BODY, TH, TD, P, DIV, SPAN, INPUT, SELECT, TEXTAREA, FORM, B, STRONG, I, U, DL, DD, DT, UL, LI, OL, OPTION, OPTGROUP, A {font-family:arial, helvetica, sans-serif;font-size:12px}
H1 {font-family:arial, helvetica, sans-serif;font-weight:bold;font-size:18px}
H2 {font-family:arial, helvetica, sans-serif;font-weight:bold;font-size:15px}
H3, H4 {font-family:arial, helvetica, sans-serif;font-weight:bold;font-size:12px}
H5, H6 {font-family:arial, helvetica, sans-serif;font-weight:bold;font-size:11px}
.DefBdy {color:#333;background-color:#FFF;margin:0px}
a:link {color:#003399;text-decoration:none}
a:visited {color:#003399;text-decoration:none}
a:hover {color:#003399;text-decoration:underline}
.ConMgn {margin:0px 10px}

/* PROGRESS BAR */
.PrgOutBar {position:relative;height:14px;background-color:#f2f3f4;border:solid 1px #666;margin-bottom:2px}
.PrgInBar {position:absolute;top:1px;left:1px;height:10px;background-color:#a1c4d4;font-size:1px}
.PrgInBarBak {background-color:#f2f3f4;position:absolute;top:1px;left:1px;height:10px;font-size:1px}
.PrgBarMsgTxt {margin:10px 0px 10px;color:#333}
.PrgBarPctTxt {margin:10px 0px 20px;color:#333}

/* SKIP NAVIGATION LINK */	
.SkpWht {background-color:#FFF;height:0px}
.SkpMedGry1 {background-color:#708290;height:0px}

/* WIZARD */
.WizMst {position:fixed;width:100%;height:55px;top:0;right:0;bottom:auto;left:0;background:#FFF}
.WizTtl {position:fixed;width:100%;height:36px;top:55px;right:0;bottom:auto;left:0;background-color:#D9E1E4;border-bottom:solid 5px #D9E1E4}
.WizStp {position:absolute;width:30%;top:90px;right:auto;bottom:0px;left:0;background:#FFF;color:#333;overflow:auto}
.WizBdy {position:absolute;width:70%;top:90px;right:0;bottom:55px;left:30%;background-color:#FFF;color:#333;border-left:#CCC 1px solid;overflow:auto;background-image:url(../images/wizard/subtitle_background.jpg);background-repeat:repeat-x;border-top:#fff 1px solid;background-position:left top}
.WizBtn {position:absolute;width:auto;height:50px;top:auto;right:0;bottom:5px;left:30%;background:#FFF;border-left:#CCC 1px solid}
.WizStpTab {margin:0px;background:#fff}
.WizStpTbl {background:#fff}
.WizStpNumDiv {margin:0px 5px 20px 22px}
.WizStpArwDiv {margin:0px 5px 20px 1px}
.WizStpTxtDiv {margin:0px 10px 20px 0px}
.WizStpTxt {color:#333;font-weight:normal}
.WizStpCurTxt {color:#333;font-weight:bold;vertical-align:top}
a.WizStpLnk:link, a.WizStpLnk:visited {color:#003399;text-decoration:none}
a.WizStpLnk:hover {color:#003399;text-decoration:underline}
.WizHlpDiv {margin:15px 10px 5px 22px}
.WizHlpTxt {color:#333}
.WizSubTtlDiv {padding:9px 0px 6px 10px;background-color:#D9E1E4;background-image:url(../images/tabs/minitab_background.jpg);background-repeat:repeat-x;background-position:left bottom;height:24px}
.WizSubTtlTxt {color:#333;font-weight:bold;font-size:15px}
.WizSubStpTtlDiv {padding:2px 0px 0px 10px}
.WizSubStpTtlTxt {color:#333;font-weight:bold;font-size:12px}
.WizCntHlpTxt {color:#333;margin:15px 10px 10px 10px}
.WizBtnDiv {margin:20px 10px 10px 10px}
.WizTtl .TtlTxtDiv {margin:10px 0px 3px 10px} 
.WizTtl .TtlLin {background-color:#D9E1E4}

/* HELP WINDOW */
.HlpStpTab {margin:0px 0px 5px 0px;background:#FFF}
.HlpBtnDiv {margin:5px 10px 4px;vertical-align:middle}
.HlpTtlDiv {margin:15px 0px 0px 10px}
.HlpSchDiv {margin:5px 5px 5px 10px}
.HlpRltDiv {margin-top:6px}
.HlpIdxDiv {margin:5px 5px 5px 10px}
body.HlpBdy {background-color:#FFF;color:#333;margin:10px}
body.HlpBdy h1 {font-family:sans-serif;margin-bottom:-3px;font-weight:bold;font-size:16px}
body.HlpBdy h2 {font-family:sans-serif;margin-bottom:-5px;font-weight:bold;font-size:14px}
body.HlpBdy h3 {font-family:sans-serif;margin-bottom:-5px;font-weight:bold;font-size:13px}
body.HlpBdy h4 {font-family:sans-serif;margin-bottom:-5px;font-weight:bold;font-size:12px}
body.HlpBdy h5, H6 {font-family:sans-serif;margin-bottom:-5px;font-weight:bold;font-size:11px}
body.HlpBdy a:link {color:#003399;text-decoration:underline}
body.HlpBdy a:visited {color:#336699;text-decoration:underline}
body.HlpBdy a:hover {color:#003399;text-decoration:underline}
/* New Styles */
.HlpBtnNavBdy {border-top:#fff 1px solid;background-color:#D9E1E4;background-image:url(../images/help/help_btnnav_gradient.jpg);background-repeat:repeat-x;background-position:left top;margin:0px}
.HlpMstTtlBdy {background-color:#D9E1E4;margin:0px}

/* Used for interim help solution  - may be obsolete */
.help-body {background-color:#FFF;color:#000}
.help-body a:link  {color:#3A2EB5;text-decoration:underline}
.help-body a:active {color:#3A2EB5;text-decoration:underline}
.help-body a:hover  {color:#594FBF;text-decoration:underline}
.help-body a:visited {color:#594FBF;text-decoration:underline}
.help-header-1 {color:#333;font-weight:bold;margin:8px 0px 3px;font-size:18px}
.help-header-2 {color:#333;font-weight:bold;margin:8px 0px 3px;font-size:15px}
.help-header-3 {color:#333;font-weight:bold;margin:8px 0px 3px}
.help-table-header-row {background-color:#CCC}
a.help-toc-link:link, a.help-toc-link:active {color:#3A2EB5;text-decoration:underline}
a.help-toc-link:hover, a.help-toc-link:visited {color:#594FBF;text-decoration:underline}
a.help-return-link:link, a.help-return-link:active {color:#3A2EB5;text-decoration:underline}
a.help-return-link:hover, a.help-return-link:visited {color:#594FBF;text-decoration:underline}

/* CONTENT-PROPERTIES PAGES */
.ConLin {border-right:solid 10px #FFF;background-color:#d0d7da}
.ConFldSetDiv {}
.ConFldSet {border:none;margin-top:7px;margin-left:10px}
.ConFldSetLgd {color:#5F6466;font-size:16px;font-weight:bold;margin:0px 0px 5px -8px}
.ConFldSetLgdDiv {}
.ConSubSecTtlTxt {margin:10px 0px 3px 15px;color:#5F6466;font-size:16px;font-weight:bold}
.ConSubSecDiv {margin:0px 10px 5px 0px}
.ConTblCl1Div {margin:8px 10px 0px 15px}
.ConTblCl2Div {margin:7px 10px 0px 0px}
.ConEmbTblCl1Div {margin:6px 10px 0px 30px}
.ConEmbTblCl2Div {margin:3px 10px 0px 0px}
.ConJmpScnDiv {margin:8px 10px 0px 0px}
.ConJmpLnkDiv {margin:7px 25px 0px 26px;text-indent:-16px}
.ConRqdDiv {text-align:right;margin:5px 10px 5px 0px}
.ConDefTxt {color:#333}
.ConRqdTxt {color:#333}
.ConJmpTopDiv {margin:15px 10px 15px 10px}
.ConErrLblTxt {color:#C00;font-weight:bold}
.ConWrnLblTxt {color:#C90;font-weight:bold}
a.JmpLnk:link, a.JmpLnk:visited {color:#003399;text-decoration:none}
a.JmpLnk:hover {color:#003399;text-decoration:underline}
a.JmpTopLnk:link, a.JmpTopLnk:visited {color:#003399;text-decoration:none}
a.JmpTopLnk:hover {color:#003399;text-decoration:underline}

/* TREE */
a.TreParLnk:link, a.TreParLnk:visited {color:#003399;text-decoration:none;font-weight:bold}
a.TreParLnk:hover {color:#003399;text-decoration:underline;font-weight:bold}
a.TreLnk:link, a.TreLnk:visited {color:#003399;text-decoration:none}
a.TreLnk:hover {color:#003399;text-decoration:underline}
.TreSelTxt {color:#000;font-weight:bold}
a.TreSelLnk:link, a.TreSelLnk:visited {color:#000;text-decoration:none;font-weight:bold}
a.TreSelLnk:hover {color:#000;text-decoration:underline;font-weight:bold}
.TreLnkSpc {margin-left:3px}
.TreRotRow {background-color:#D2D9E1}
tr.TreSelRow td {background-color:#CBDCAF}
.TreImg {padding-top:2px;padding-bottom:1px} 
.TreTbl {background-color:#fff}
.TreBdy {color:#000;background-color:#fff;margin:0px}
.TreTtl {color:#000;font-weight:bold}
/* white version */
tr.TreWhtSelRow td {background-color:#CBDCAF}
.TreWhtTbl {background-color:#FFF}
.TreWhtBdy {color:#000;background-color:#FFF;margin:0px}

/* ACTION TABLE */
table.Tbl {background-color:#BEC7CC;color:#333;width:100%;padding:6px;border-top:none;border-bottom:none;border-left:solid 10px #FFF;border-right:solid 10px #FFF}
.TblMgn {}
table.Tbl td {border-right:solid 1px #BEC7CC;border-bottom:solid 1px #BEC7CC;border-left:none;border-top:none;padding:4px 5px 1px 5px;background-color:#fff}
table.Tbl th {border-right:solid 1px #BEC7CC;border-bottom:solid 1px #BEC7CC;border-left:none;border-top:none;padding:3px 5px 1px 5px;background-color:#fff;font-weight:normal}
.TblTdLyt {} 
.TblTtlTxt {background-image:url(../images/table/gradtblttl.jpg);background-repeat:repeat-x;background-color:#71838D;text-align:left;color:#fff;padding:3px 10px;font-weight:bold;font-size:14px;border-left:solid 10px #FFF;border-right:solid 10px #FFF}
table.Tbl td.TblActTd {border-right:none;border-bottom:none;background-color:#BEC7CC;padding:6px;vertical-align:middle} 
/* new style */
table.Tbl td.TblActTdLst {border-right:none;border-bottom:none;border-top:solid 1px #e5e5e5;background-color:#BEC7CC;padding:6px;vertical-align:middle} 
.TblActLbl {color:#333;font-weight:bold}
table.Tbl td.TblTdLst {border-bottom:1px solid #BEC7CC}
table.Tbl th.TblTdLst {border-bottom:1px solid #BEC7CC}
table.Tbl td.TblTdCl1 {border-left:1px solid #BEC7CC}
table.Tbl th.TblTdCl1 {border-left:1px solid #BEC7CC}
table.Tbl td.TblTdCl1Lst {border-bottom:1px solid #BEC7CC;border-left:1px solid #BEC7CC}
table.Tbl th.TblTdCl1Lst {border-bottom:1px solid #BEC7CC;border-left:1px solid #BEC7CC}
table.Tbl th.TblColHdr {vertical-align:bottom;padding:0px;border-top:1px solid #81939B;border-right:1px solid #81939B;border-bottom:1px solid #81939B;background-color:#fff}
table.Tbl th.TblColHdrCl1 {vertical-align:bottom;padding:0px;border:1px solid #81939B;background-color:#fff}
.TblHdrTxt {display:block;background-image:url(../images/table/gradtblhdr.gif);background-repeat:repeat-x;background-color:#fff;background-position:left bottom;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:4px 5px 3px;height:12px}
table.Tbl th.TblColHdrSrt {vertical-align:bottom;padding:0px;border:1px solid #81939B;background-image:url(../images/table/gradtblhdrsrt.gif);background-repeat:repeat-x;background-color:#E2E4E9;background-position:left top}
table.Tbl td.TblTdSrt {background-color:#E9EBEC}
table.Tbl th.TblTdSrt {background-color:#E9EBEC}
table.Tbl td.TblTdSrtLst {background-color:#E9EBEC;border-bottom:1px solid #BEC7CC}
table.Tbl th.TblTdSrtLst {background-color:#E9EBEC;border-bottom:1px solid #BEC7CC}
table.Tbl th.TblColHdrSrtCl1 {vertical-align:bottom;padding:0px;border:1px solid #81939B;background-image:url(../images/table/gradtblhdrsrt.gif);background-repeat:repeat-x;background-color:#E2E4E9;background-position:left top}
table.Tbl td.TblTdSrtCl1 {background-color:#E9EBEC;border-left:1px solid #BEC7CC}
table.Tbl th.TblTdSrtCl1 {background-color:#E9EBEC;border-left:1px solid #BEC7CC}
table.Tbl td.TblTdSrtCl1Lst {background-color:#E9EBEC;border-bottom:1px solid #BEC7CC;border-left:1px solid #BEC7CC}
table.Tbl th.TblTdSrtCl1Lst {background-color:#E9EBEC;border-bottom:1px solid #BEC7CC;border-left:1px solid #BEC7CC}
table.Tbl th.TblColHdrSrtSelCl1 {text-align:center;background-image:url(../images/table/gradtblhdrsrt.gif);background-repeat:repeat-x;background-color:#E2E4E9;background-position:left top;border-right:1px solid #828da4;border-top:1px solid #959aa5;border-left:1px solid #959aa5;border-bottom:solid 1px #828da4;padding:2px 5px 0px}
table.Tbl td.TblTdSrtSelCl1 {text-align:center;vertical-align:top;border-left:1px solid #BEC7CC;background-color:#E9EBEC;padding:0px}
table.Tbl td.TblTdSrtSelCl1Lst {text-align:center;vertical-align:top;border-bottom:1px solid #BEC7CC;border-left:1px solid #BEC7CC;background-color:#E9EBEC;padding:0px}
table.Tbl th.TblColHdrSel {text-align:center;background-image:url(../images/table/gradtblhdr.gif);background-repeat:repeat-x;background-color:#fff;background-position:left bottom;border-right:1px solid #d2d3d8;border-top:1px solid #959aa5;border-left:1px solid #959aa5;border-bottom:solid 1px #828da4;padding:2px 5px 0px}
table.Tbl td.TblTdSel {text-align:center;vertical-align:top;border-left:1px solid #BEC7CC;background-color:#fff;padding:0px}
table.Tbl td.TblTdSelLst {text-align:center;vertical-align:top;border-left:1px solid #BEC7CC;background-color:#fff;border-bottom:1px solid #BEC7CC;border-left:1px solid #BEC7CC;padding:0px}
table.Tbl td.TblTdSpc {}
table.Tbl th.TblTdSpc {vertical-align:bottom;padding:0px;border-top:1px solid #81939B;border-right:1px solid #BEC7CC;border-bottom:1px solid #BEC7CC;background-color:#fff}
table.Tbl td.TblTdSpcLst {border-bottom:1px solid #BEC7CC}
table.Tbl td.TblTdAlm {background-color:#FFFEE7}
table.Tbl th.TblTdAlm {background-color:#FFFEE7}
table.Tbl td.TblTdAlmCl1 {background-color:#FFFEE7;border-left:1px solid #BEC7CC}
table.Tbl th.TblTdAlmCl1 {background-color:#FFFEE7;border-left:1px solid #BEC7CC}
table.Tbl td.TblTdAlmLst {background-color:#FFFEE7;border-bottom:1px solid #BEC7CC}
table.Tbl th.TblTdAlmLst {background-color:#FFFEE7;border-bottom:1px solid #BEC7CC}
table.Tbl td.TblTdAlmCl1Lst {background-color:#FFFEE7;border-bottom:1px solid #BEC7CC;border-left:1px solid #BEC7CC}
table.Tbl th.TblTdAlmCl1Lst {background-color:#FFFEE7;border-bottom:1px solid #BEC7CC;border-left:1px solid #BEC7CC}
table.Tbl td.TblTdSrtAlm {background-color:#FFFEE7}
table.Tbl th.TblTdSrtAlm {background-color:#FFFEE7}
table.Tbl td.TblTdSrtAlmLst {background-color:#FFFEE7;border-bottom:1px solid #BEC7CC}
table.Tbl th.TblTdSrtAlmLst {background-color:#FFFEE7;border-bottom:1px solid #BEC7CC}
table.TblHdrTbl {background:none;width:100%;border:none}
th.TblColHdrSrt table.TblHdrTbl {background:none;width:100%;border:none}
th.TblColHdrSrtCl1 table.TblHdrTbl {background:none;width:100%;border:none}
table.TblHdrTbl td {border:none;padding:0px;vertical-align:bottom;background:none;width:100%}
a.TblHdrLnk:link, a.TblHdrLnk:visited {display:block;background-image:url(../images/table/gradtblhdr.gif);background-repeat:repeat-x;background-color:#fff;background-position:left bottom;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:4px 5px 3px}
a.TblHdrLnk:hover {color:#333;text-decoration:underline;font-weight:bold}
th.TblColHdrSrt a.TblHdrLnk:link {background:none;display:block;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:4px 5px 3px}
th.TblColHdrSrt a.TblHdrLnk:visited {background:none;display:block;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:4px 5px 3px}
th.TblColHdrSrt a.TblHdrLnk:hover {color:#333;text-decoration:underline;font-weight:bold}
th.TblColHdrSrtCl1 a.TblHdrLnk:link {background:none;display:block;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:4px 5px 3px}
th.TblColHdrSrtCl1 a.TblHdrLnk:visited {background:none;display:block;text-align:left;color:#333;text-decoration:none;font-weight:bold;padding:4px 5px 3px}
th.TblColHdrSrtCl1 a.TblHdrLnk:hover {color:#333;text-decoration:underline;font-weight:bold}
table.TblHdrTbl img {margin-bottom:1px}
a.TblNavLnk:link, a.TblNavLnk:visited {color:#003399;text-decoration:none}
a.TblNavLnk:hover {color:#003399;text-decoration:underline}
a.TblActLnk:link, a.TblActLnk:visited {color:#003399;text-decoration:none}
a.TblActLnk:hover {color:#003399;text-decoration:underline}
.TblMsgTxt {color:#333}
.TblPgnTxtBld {color:#5F6466;font-weight:bold}
.TblPgnTxt {color:#333}
/* css hooks for row mouseover and selection */
table.Tbl tr.TblSelRow td {background-color:#CBDCAF}
table.Tbl tr.TblSelRow th {background-color:#CBDCAF}
table.Tbl tr.TblHovRow td {background-color:#CBDCAF}
table.Tbl tr.TblHovRow th {background-color:#CBDCAF}

/* MENUS */
.MnuJmp {color:#003399;border-bottom-color:#666;border-right-color:#666}
.MnuJmpDis {color:#999;background-color:#e4e4e4} /*New style for disabled apperance */
.MnuJmpOptSel {font-weight:normal}
.MnuJmpOpt {color:#003399}
.MnuJmpOpt:hover {color:#003399;text-decoration:underline}
.MnuJmpOptSep {color:#999}
.MnuJmpOptDis {color:#999}
.MnuJmpOptGrp {color:#000;font-weight:normal;font-style:normal}
.MnuStd {color:#333;border-bottom-color:#666;border-right-color:#666}
.MnuStdDis {color:#999;background-color:#e4e4e4} /*New style for disabled apperance */
.MnuStdOpt {color:#333}
.MnuStdOptSel {color:#333}
.MnuStdOptSep {color:#999}
.MnuStdOptDis {color:#999}
.MnuStdOptGrp {color:#000;font-weight:normal;font-style:normal}

/* CHECKBOXES AND RADIO BUTTONS */
.Cb {}
.CbDis {}
.Rb {}
.RbDis {}

/* LISTS */
/* Regular List */
.Lst {color:#333;border-bottom-color:#666;border-right-color:#666}
.LstOpt {color:#333}
.LstOptSel {color:#333}
.LstOptSep {color:#999}
.LstOptDis {color:#999}
.LstOptGrp {color:#333;font-weight:normal;font-style:normal}
/* Contextual Selector for Disabled Appearance */
.LstDis {color:#999;background-color:#e4e4e4;border-bottom-color:#666;border-right-color:#666}
.LstDis option {color:#999;background-color:#e4e4e4}
.LstDis .LstOptGrp {color:#999;font-weight:normal;font-style:normal;background-color:#e4e4e4}
/* Monospace Version */
.LstMno {color:#333;font-family:monospace;border-bottom-color:#666;border-right-color:#666}
.LstMno option {font-family:monospace}
.LstMno .LstOptGrp {color:#333;font-family:monospace;font-weight:normal;font-style:normal}
/* Contextual Selector for Disabled Monospace Version */
.LstMnoDis {color:#999;font-family:monospace;background-color:#e4e4e4}
.LstMnoDis option {color:#999;background-color:#e4e4e4;font-family:monospace}
.LstMnoDis .LstOptGrp {color:#999;font-family:monospace;font-weight:normal;font-style:normal;background-color:#e4e4e4}

/* TEXT AND PASSWORD FIELDS */
.TxtFld {}
.TxtFldDis {color:#999;background-color:#e4e4e4}

/* TEXTAREAS */ 
.TxtAra {}
.TxtAraDis {color:#999;background-color:#e4e4e4}

/* BUTTONS */
.Btn1 {background-image:url(../images/button/primary-enabled.gif);background-repeat:repeat-x;background-color:#9BC3E2;background-position:center center;color:#000;border-top:solid 1px #336699;border-bottom:solid 1px #336699;border-left:solid 1px #6699CC;border-right:solid 1px #6699CC;font-size:12px;padding:0px 5px}
.Btn1Hov {background-image:url(../images/button/primary-roll.gif);background-repeat:repeat-x;background-color:#AED2E7;background-position:center center;color:#000;border:solid 1px #336699;font-size:12px;padding:0px 5px;cursor:hand}
.Btn1Dis {background-color:#e5e5e5;color:#999;border:solid 1px #a4abba;font-size:12px;padding:0px 5px}
.Btn1Def {background-image:url(../images/button/primary-enabled.gif);background-repeat:repeat-x;background-color:#A5CBDE;background-position:center center;color:#000;border-top:solid 1px #336699;border-bottom:solid 1px #336699;border-left:solid 1px #6699CC;border-right:solid 1px #6699CC;font-size:12px;padding:0px 5px}
.Btn1DefHov {background-image:url(../images/button/primary-roll.gif);background-repeat:repeat-x;background-color:#A5CBDE;background-position:center center;color:#000;border:solid 1px #336699;font-size:12px;padding:0px 5px;cursor:hand}
.Btn1DefDis {background-color:#e5e5e5;color:#999;border:solid 1px #999;font-size:12px;padding:0px 5px}
.Btn1Mni {background-image:url(../images/button/primary-mini-enabled.gif);background-repeat:repeat-x;background-color:#B5D1DD;background-position:center center;color:#000;border-top:solid 1px #336699;border-bottom:solid 1px #336699;border-left:solid 1px #6699CC;border-right:solid 1px #6699CC;font-size:11px;padding:0px 5px}
.Btn1MniHov {background-image:url(../images/button/primary-mini-roll.gif);background-repeat:repeat-x;background-color:#A5CBDE;background-position:center center;color:#000;border:solid 1px #336699;font-size:11px;padding:0px 5px;cursor:hand}
.Btn1MniDis {background-color:#e5e5e5;color:#999;border:solid 1px #a4abba;font-size:11px;padding:0px 5px}
.Btn2 {background-image:url(../images/button/secondary-enabled.gif);background-repeat:repeat-x;background-color:#D2E0EB;background-position:center center;color:#000;border:solid 1px #6699CC;font-size:12px;padding:0px 5px}
.Btn2Hov {background-image:url(../images/button/secondary-roll.gif);background-repeat:repeat-x;background-color:#D8E6EC;background-position:center center;color:#000;border-top:solid 1px #336699;border-bottom:solid 1px #336699;border-left:solid 1px #6699CC;border-right:solid 1px #6699CC;font-size:12px;padding:0px 5px;cursor:hand}
.Btn2Dis {background-color:#e5e5e5;color:#999;border:solid 1px #999;font-size:12px;padding:0px 5px}
.Btn2Mni {background-image:url(../images/button/secondary-mini-enabled.gif);background-repeat:repeat-x;background-color:#D2E0EB;background-position:center center;color:#000;border:solid 1px #6699CC;font-size:11px;padding:0px 5px}
.Btn2MniHov {background-image:url(../images/button/secondary-mini-roll.gif);background-repeat:repeat-x;background-color:#D2E0EB;background-position:center center;color:#000;border-top:solid 1px #336699;border-bottom:solid 1px #336699;border-left:solid 1px #6699CC;border-right:solid 1px #6699CC;font-size:11px;padding:0px 5px;cursor:hand}
.Btn2MniDis {background-color:#e5e5e5;color:#999;border:solid 1px #999;font-size:11px;padding:0px 5px}
.BtnTbl .Btn1 {width:100%}
.BtnTbl .Btn1Hov {width:100%}
.BtnTbl .Btn1Dis {width:100%}
.BtnTbl .Btn2 {width:100%}
.BtnTbl .Btn2Hov {width:100%}
.BtnTbl .Btn2Dis {width:100%}
.BtnAryDiv {margin:5px 8px}

/* BREADCRUMBS */
.BcmWhtDiv {background-color:#FFF;margin:10px 10px 0px 10px}
.BcmGryDiv {background-color:#D2D9E1;margin:8px 10px 7px 10px}
.BcmGryTbl {background-color:#D2D9E1}
a.BcmLnk:link, a.BcmLnk:visited {color:#003399;text-decoration:none}
a.BcmLnk:hover {color:#003399;text-decoration:underline}
.BcmTxt {color:#000;font-weight:normal}
.BcmSep {color:#666}

/* PAGE TITLE */
.TtlTxtDiv {margin:15px 0px 0px 10px} 
.TtlTxtDiv img {vertical-align:text-bottom;margin-right:5px} 
.TtlLin {background-color:#d0d7da}
span.TtlTxt {color:#000;font-size:16px;font-weight:bold}
h1.TtlTxt {color:#000;font-size:16px;font-weight:bold;margin:0px}
.TtlActDiv {margin:8px 10px 0px 10px}
.TtlHlpDiv {margin:5px 10px 0px 10px}
.TtlVewDiv {margin:8px 10px 0px 10px}
.TtlVewLbl {color:#5F6466;font-weight:bold}
.TtlBtnDiv {margin:0px 8px 0px 10px}
.TtlBtnBtmDiv {padding:10px 8px 0px 10px}

/* ADD-REMOVE-IDIOM */
.AddRmvLbl {color:#5F6466;font-weight:bold;padding-bottom:3px}
.AddRmvLbl2 {color:#333;padding-bottom:3px}
.AddRmvBtnTbl .Btn1 {padding:0px 10px;width:100%}
.AddRmvBtnTbl .Btn1Hov {padding:0px 10px;width:100%}
.AddRmvBtnTbl .Btn1Dis {padding:0px 10px;width:100%}
.AddRmvBtnTbl .Btn2 {padding:0px 10px;width:100%}
.AddRmvBtnTbl .Btn2Hov {padding:0px 10px;width:100%}
.AddRmvBtnTbl .Btn2Dis {padding:0px 10px;width:100%}
.AddRmvVrtFst {border-top:solid 5px #FFF;border-bottom:solid 10px #FFF;width:100px}
.AddRmvVrtWin {border-top:solid 5px #FFF;border-bottom:solid 10px #FFF;border-left:solid 5px #FFF;width:100px}
.AddRmvVrtBwn {border-top:solid 5px #FFF;border-bottom:solid 10px #FFF;border-left:solid 10px #FFF;width:100px}
.AddRmvHrzWin {margin-top:3px;width:120px}
.AddRmvHrzBwn {margin-top:8px;width:120px}

/* INLINE ALERTS */
.AlrtErrTxt {color:#000;font-weight:bold;vertical-align:middle;font-size:14px;text-align:center}
.AlrtWrnTxt {color:#000;font-weight:bold;vertical-align:middle;font-size:14px;text-align:center}
.AlrtInfTxt {color:#000;font-weight:bold;vertical-align:middle;font-size:14px;text-align:center}
.AlrtLnkDiv {padding-top:3px;text-align:left}
a.AlrtLnk:link, a.AlrtLnk:visited {color:#003399;text-decoration:none}
a.AlrtLnk:hover {color:#003399;text-decoration:underline}
/* new styles */
.AlrtTbl {background-color:#FFFFCC;border:solid 1px #e1e1a7;padding:7px 15px}
.AlrtErrTxt img {vertical-align:text-bottom;margin-right:5px}
.AlrtWrnTxt img {vertical-align:text-bottom;margin-right:5px}
.AlrtInfTxt img {vertical-align:text-bottom;margin-right:5px}
.AlrtMsgTxt {padding-top:6px;color:#000;text-align:left}
.logErr .AlrtTbl {background-color:#FFFFCC;border:solid 1px #e1e1a7;padding:7px 15px;margin-left:15px;text-align:left}

/* FULL ALERTS */
.FulAlrtHdrDiv {margin:7px 10px 5px 37px}
.FulAlrtHdrTxt {color:#000;font-weight:bold} 
.FulAlrtMsgDiv {margin:5px 10px 0px 37px}
.FulAlrtFrmDiv {margin:10px 10px 5px 37px}
.FulAlrtMsgTxt {color:#000}

/* GENERIC FIELD LABELS */
.LblLev1Txt {color:#5F6466;font-weight:bold;font-size:16px}
.LblLev2Txt {color:#5F6466;font-weight:bold}
.LblLev3Txt {color:#333}
.LblRqdDiv {color:#333}

/* INLINE HELP  */
.HlpPgeTxt {color:#333}
.HlpFldTxt {font-size:11px;color:#333;padding-top:2px}
a.HlpPgeLnk:link, a.HlpPgeLnk:visited {color:#003399;text-decoration:none}
a.HlpPgeLnk:hover {color:#003399;text-decoration:underline}
a.HlpFldLnk:link, a.HlpFldLnk:visited {color:#003399;text-decoration:none;font-size:11px}
a.HlpFldLnk:hover {color:#003399;text-decoration:underline;font-size:11px}

/* OLD STYLE TAB NAVIGATION  - MAY BE OBSOLETE */
a.Tab1NotSelLnk:link, a.Tab1NotSelLnk:visited {font-weight:bold;color:#3A2EB5;text-decoration:none}
a.Tab1NotSelLnk:hover {text-decoration:underline}
span.Tab1SelTxt {font-weight:bold;color:#333;text-decoration:none}
a.TabNotSelLnk:link, a.TabNotSelLnk:visited {color:#3A2EB5;text-decoration:none}
a.TabNotSelLnk:hover {text-decoration:underline}
span.TabSelTxt {font-weight:bold;color:#333;text-decoration:none}
/* Level 1 Tab Navigation */
div.Tab1 {background-color:#CCC}
table.Tab1Tbl {background-color:#CCC}
td.Tab1TdSel {background-color:#FFF;min-width:90px}
td.Tab1TdNotSel {background-color:#E5E5E5;min-width:90px}
div.Tab1DivSel {padding-left:10px;padding-top:5px;padding-bottom:3px}
div.Tab1DivNotSel {padding-left:7px;padding-bottom:2px;padding-right:3px;border-left:3px solid #E5E5E5;border-top:3px solid #E5E5E5;border-right:3px solid #E5E5E5}
td.Tab1Gtr {background-color:#CCC}
/* Level 2 Tab Navigation */
div.Tab2 {background-color:#FFF}
table.Tab2Tbl {background-color:#FFF}
td.Tab2LinBak {background-color:#CCC}
div.Tab2Sel {padding-top:3px;padding-bottom:1px}
div.Tab2NotSel {padding-top:4px;padding-bottom:2px}
/* Level 3 Tab Navigation */
div.Tab3 {background-color:#FFF}
table.Tab3Tbl {background-color:#FFF}
/* OLD Style Navigation Mini-Tabs -- for help and wizard */
.LftTab {background-color:#fff}
.LftTabTbl {background-color:#fff}
.LftTabLinBak {background-color:#CCC}
.LftTabDivSel {padding-top:4px;padding-bottom:1px}
.LftTabDivNotSel {padding:4px 8px 2px;background-color:#E5E5E5}
.LftTabTdNotSel {background-color:#E5E5E5}
a.LftTabLnk:link, a.LftTabLnk:visited {font-weight:bold;color:#003399;text-decoration:none}
a.LftTabLnk:hover {font-weight:bold;color:#003399;text-decoration:underline}
.LftTabSelTxt {font-weight:bold;color:#333;text-decoration:none}

/* LEVEL 1 TABS */
.Tab1Div {background-image:url(../images/tabs/level1_background.jpg);background-repeat:repeat-x;background-position:left bottom;background-color:#D2D9E1;padding:6px 10px 0px} 
a.Tab1Lnk:link, a.Tab1Lnk:visited  {display:block;padding:8px 15px 7px;color:#000;font-weight:bold;text-decoration:none}
a.Tab1Lnk:hover {text-decoration:underline}
/* Level 1 Tabs - 1 level - contextual selector on Tab1Tbl for selected tab appearance */
table.Tab1TblNew {border-collapse:collapse}
table.Tab1TblNew td {background-image:url(../images/tabs/level1_deselect.jpg);background-repeat:repeat-x;background-position:left top;background-color:#A3ADB6;border:solid 1px #8f989f}
table.Tab1TblNew td.Tab1TblSpcTd {background-image:url(../images/tabs/level1_background.jpg);background-repeat:repeat-x;background-position:left bottom;background-color:#D2D9E1;border:none}
table.Tab1TblNew td.Tab1TblSelTd {background-color:#FFF;background-image:url(../images/tabs/level1_selected-1lev.jpg);background-repeat:repeat-x;background-position:left top;border-bottom:none}
table.Tab1TblNew div.Tab1SelTxtNew {display:block;padding:8px 15px 7px;color:#000;font-weight:bold}
/* Level 1 Tabs - 2 level - contextual selector on Tab1Tbl2 for selected tab appearance */
table.Tab1Tbl2New {border-collapse:collapse}
table.Tab1Tbl2New td {background-image:url(../images/tabs/level1_deselect.jpg);background-repeat:repeat-x;background-position:left top;background-color:#A3ADB6;border:solid 1px #8f989f}
table.Tab1Tbl2New td.Tab1TblSpcTd {background-image:url(../images/tabs/level1_background.jpg);background-repeat:repeat-x;background-position:left bottom;background-color:#D2D9E1;border:none}
table.Tab1Tbl2New td.Tab1TblSelTd {background-color:#E4ECEF;background-image:url(../images/tabs/level1_selected.jpg);background-repeat:repeat-x;background-position:left bottom;border-bottom:none}
table.Tab1Tbl2New div.Tab1SelTxtNew {display:block;padding:8px 15px 7px;color:#000;font-weight:bold}
/* Level 1 Tabs - 3 level - contextual selector on Tab1Tbl3 for selected tab appearance */
table.Tab1Tbl3New {border-collapse:collapse}
table.Tab1Tbl3New td {background-image:url(../images/tabs/level1_deselect.jpg);background-repeat:repeat-x;background-position:left top;background-color:#A3ADB6;border:solid 1px #8f989f}
table.Tab1Tbl3New td.Tab1TblSpcTd {background-image:url(../images/tabs/level1_background.jpg);background-repeat:repeat-x;background-position:left bottom;background-color:#D2D9E1;border:none}
table.Tab1Tbl3New td.Tab1TblSelTd {background-color:#E4ECEF;background-image:url(../images/tabs/level1_selected.jpg);background-repeat:repeat-x;background-position:left bottom;border-bottom:none}
table.Tab1Tbl3New div.Tab1SelTxtNew {display:block;padding:8px 15px 7px;color:#000;font-weight:bold}
/* LEVEL 2 TABS */
.Tab2Div {background-image:url(../images/tabs/level2_background.jpg);background-repeat:repeat-x;background-position:left bottom;background-color:#E2EAED;padding:6px 0px 0px 10px}
a.Tab2Lnk:link, a.Tab2Lnk:visited{display:block;padding:5px 15px 4px;color:#000;text-decoration:none}
a.Tab2Lnk:hover {text-decoration:underline}
/* Level 2 Tabs - 2 levels - contextual selector on Tab2Tbl for selected tab appearance */
table.Tab2TblNew {border-collapse:collapse}
table.Tab2TblNew td {background-image:url(../images/tabs/level2_deselect.jpg);background-repeat:repeat-x;background-position:left top;background-color:#C4CBD1;border:solid 1px #8f989f}
table.Tab2TblNew div.Tab2SelTxt {display:block;padding:5px 15px 4px;color:#000;font-weight:normal}
table.Tab2TblNew td.Tab2TblSelTd {border-bottom:none;background-image:url(../images/tabs/level3_selected.jpg);background-repeat:repeat-x;background-position:left bottom;background-color:#F2F4F3;border-left:solid 1px #8f989f;border-right:solid 1px #8f989f;border-top:solid 1px #8f989f}
/* Level 2 Tabs - 3 levels contextual selector on Tab2Tbl3 for selected tab appearance*/
table.Tab2Tbl3New {border-collapse:collapse}
table.Tab2Tbl3New td {background-image:url(../images/tabs/level2_deselect.jpg);background-repeat:repeat-x;background-position:left top;background-color:#C4CBD1;border:solid 1px #8f989f}
table.Tab2Tbl3New div.Tab2SelTxt {display:block;padding:5px 15px 4px;color:#000;font-weight:normal}
table.Tab2Tbl3New td.Tab2TblSelTd {border-bottom:none;background-image:url(../images/tabs/level2_selected.jpg);background-repeat:repeat-x;background-position:left bottom;background-color:#FBFCFE;border-left:solid 1px #8f989f;border-right:solid 1px #8f989f;border-top:solid 1px #8f989f}
/* LEVEL 3 TABS*/
.Tab3Div {background-color:#E2E7EA;padding:6px 0px 0px 10px;background-image:url(../images/tabs/level3_background.gif);background-repeat:repeat-x;background-position:right bottom}
table.Tab3TblNew {background-color:#E2E7EA}
table.Tab3TblNew td {border-bottom:solid 1px #8f989f}
a.Tab3Lnk:link,a.Tab3Lnk:visited {display:block;color:#333;background:#E2E7EA;text-decoration:none;padding:4px 15px 3px}
a.Tab3Lnk:hover {text-decoration:underline}
table.Tab3TblNew div.Tab3SelTxt {color:#000;font-weight:normal;padding:4px 15px 3px}
table.Tab3TblNew td.Tab3TblSelTd {border-bottom:none;border-left:solid 1px #8f989f;border-right:solid 1px #8f989f;background-image:url(../images/tabs/level3_selected.jpg);border-top:1px solid #8f989f;background-repeat:repeat-x;background-position:left bottom;background-color:#F0F1F3}
/* MINI-TABS */
.MniTabDiv {border-top:#fff 1px solid;background-color:#D9E1E4;background-image:url(../images/tabs/minitab_background.jpg);background-repeat:repeat-x;background-position:left bottom;padding:7px 0px 0px 10px}
table.MniTabTbl {border-collapse:collapse}
table.MniTabTbl td {background-image:url(../images/tabs/minitab_deselect.jpg);background-repeat:repeat-x;background-position:left top;background-color:#C4CBD1;border:solid 1px #8f989f}
a.MniTabLnk:link,a.MniTabLnk:visited {display:block;padding:5px 15px 4px;color:#000;text-decoration:none}
a.MniTabLnk:hover {text-decoration:underline}
.MniTabSelTxt {display:block;padding:5px 15px 4px;color:#000;font-weight:normal}
table.MniTabTbl td.MniTabTblSelTd {border-bottom:none;background-image:url(../images/tabs/minitab_selected.jpg);background-repeat:repeat-x;background-position:left bottom;background-color:#F2F4F3;border-left:solid 1px #8f989f;border-right:solid 1px #8f989f;border-top:solid 1px #8f989f}

/* FILE CHOOSER */
.ChoLblTxt {color:#5F6466;font-weight:bold}
.ChoSrvTxt {color:#333}

/* DATE AND TIME */
a.DatLnk:link, a.DatLnk:visited {color:#003399;background-color:#fff;text-decoration:none;border:solid 1px #fff;display:block;padding:5px 0px 3px}
a.DatLnk:hover {text-decoration:underline;border:solid 1px #fff;font-weight:bold}
a.DatBldLnk:link, a.DatBldLnk:visited {color:#003399;background-color:#CBDCAF;padding:5px 0px 3px;border:solid 1px #CBDCAF;text-decoration:none;font-weight:bold;display:block}
a.DatBldLnk:hover {text-decoration:underline}
a.DatOthLnk:link, a.DatOthLnk:visited {color:#003399;background-color:#E9EBEC;text-decoration:none;padding:5px 0px 3px;border:solid 1px #E9EBEC;display:block}
a.DatOthLnk:hover {text-decoration:underline;border:solid 1px #E9EBEC;font-weight:bold}
a.DatOthBldLnk:link, a.DatOthBldLnk:visited {color:#003399;background-color:#CBDCAF;padding:5px 0px 3px;border:solid 1px #CBDCAF;text-decoration:none;font-weight:bold;display:block}
a.DatOthBldLnk:hover {text-decoration:underline}
.DatSelDiv {background-image:url(../images/datetime/date_time_gradient.jpg);background-repeat:repeat-x;background-color:#71838D;text-align:left;background-position:top left;padding:5px 4px 5px 0px;text-align:center}
.DatSelDiv input {vertical-align:middle}
.DatSelDiv select {margin:0px 1px}
.DatCalDiv {background-color:#bec7cc;text-align:center}
.DatDayHdrTxt {color:#333;font-weight:normal;padding:2px 0px;display:block}
.DatLblTxt {color:#666;font-weight:bold}
.DatZonTxt {color:#333}
.DatCalTbl {border:2px solid #bec7cc}
.DatCalTbl td {border:none;width:29px}
.DatCalTbl th {border:none;width:29px;background-color:#bec7cc}

/* MASTHEAD */
span.MstLbl {color:#eef0f2;font-weight:normal}
span.MstTxt {color:#eef0f2;font-weight:normal}
span.MstUsrRole {color:#eef0f2;font-weight:normal}
span.MstAlmDwnTxt {color:#eef0f2}
span.MstAlmCrtTxt {color:#eef0f2}
span.MstAlmMajTxt {color:#eef0f2}
span.MstAlmMinTxt {color:#eef0f2}
td.MstTdTtl {padding:0px 10px 0px 10px;vertical-align:top;white-space:nowrap}
td.MstTdAlm {vertical-align:top;padding:6px 0px 2px}
td.MstTdLogo {vertical-align:top;padding:6px 13px 7px 20px}
div.MstDivTtl {padding-top:4px}
div.MstDivSecTtl {padding:10px 10px 5px}
div.MstDivUsr {padding-top:5px}
div.MstTmeDiv {padding:0px 15px 3px}
div.MstAlmDiv {padding:0px 15px 3px}
div.MstStatDiv {padding:0px 15px 3px}
div.MstStatDiv img {margin-top:-5px}
a.MstUsrLnk:link, a.MstUsrLnk:visited {color:#eef0f2;text-decoration:underline}
a.MstUsrLnk:hover {text-decoration:underline}
a.MstAlmLnk:link, a.MstAlmLnk:visited {color:#eef0f2;text-decoration:underline}
a.MstAlmLnk:hover {text-decoration:underline}
a.MstPrgLnk:link, a.MstPrgLnk:visited {color:#eef0f2;text-decoration:underline}
a.MstPrgLnk:hover {text-decoration:underline}
a.MstLnk:link, a.MstLnk:visited {background-image:url(../images/masthead/masthead_link_enabled.gif);background-repeat:repeat-x;background-position:center center;background-color:#BDCEDC;color:#000;text-decoration:none;border:solid 1px #5C6973;padding:2px 10px 1px;text-transform:uppercase;font-size:9px}
a.MstLnk:hover {background-image:url(../images/masthead/masthead_link_roll.gif);background-repeat:repeat-x;background-position:center center;background-color:#C3D9DE}
/* New styles */
.MstSpcImg {display:none}
.MstBdy {background-color:#5A6C76;margin:0px}
.MstDiv {background-image:url(../images/masthead/masthead-background.jpg);background-repeat:repeat-x;background-position:left top;background-color:#495B67}
.MstTblTop td {padding:5px 10px 3px}
.MstTblTop img {vertical-align:middle}
.MstTblBot  {}
.MstTblEnd {background-image:url(../images/masthead/masthead-sun-background.jpg);background-repeat:repeat-x;background-position:left top;background-color:#5A6C76;text-align:right;padding:2px 9px 2px 0px}
.MstSecTbl {background-image:url(../images/masthead/sec-masthead-background.jpg);background-repeat:repeat-x;background-position:left top;background-color:#495B67}
a.MstLnkLft:link, a.MstLnkLft:visited {background-image:url(../images/masthead/masthead_link_enabled.gif);background-repeat:repeat-x;background-position:center center;background-color:#BDCEDC;color:#000;text-decoration:none;border-top:solid 1px #5C6973;border-left:solid 1px #5C6973;border-bottom:solid 1px #5C6973;padding:2px 10px 1px;text-transform:uppercase;font-size:9px;vertical-align:middle;white-space:nowrap}
a.MstLnkLft:hover {background-image:url(../images/masthead/masthead_link_roll.gif);background-repeat:repeat-x;background-position:center center;background-color:#C3D9DE}
a.MstLnkRt:link, a.MstLnkRt:visited {background-image:url(../images/masthead/masthead_link_enabled.gif);background-repeat:repeat-x;background-position:center center;background-color:#BDCEDC;color:#000;text-decoration:none;border:solid 1px #5C6973;padding:2px 10px 1px;text-transform:uppercase;font-size:9px;vertical-align:middle;white-space:nowrap}
a.MstLnkRt:hover {background-image:url(../images/masthead/masthead_link_roll.gif);background-repeat:repeat-x;background-position:center center;background-color:#C3D9DE}
a.MstLnkCen:link, a.MstLnkCen:visited {background-image:url(../images/masthead/masthead_link_enabled.gif);background-repeat:repeat-x;background-position:center center;background-color:#BDCEDC;color:#000;text-decoration:none;border-top:solid 1px #5C6973;border-left:solid 1px #5C6973;border-bottom:solid 1px #5C6973;padding:2px 10px 1px;text-transform:uppercase;font-size:9px;vertical-align:middle;white-space:nowrap}
a.MstLnkCen:hover {background-image:url(../images/masthead/masthead_link_roll.gif);background-repeat:repeat-x;background-position:center center;background-color:#C3D9DE}
/* archived mast styles */
table.MstTbl {}
td.MstTdBnd {}
.MstDivSch {}
div.MstDivAlmRow {padding:0px 15px 4px;vertical-align:text-bottom}
div.MstDivAlmBotRow {padding:0px 15px 5px;vertical-align:text-bottom}
div.MstDivPrgRow {padding:8px 15px 4px;vertical-align:text-top}

/* VERSION DIALOG */
.VrsMgn {width:100%;height:100%;position:absolute;background-color:#DCE2E5;overflow:auto}
.VrsHdrTxt {color:#333;font-weight:bold;margin:20px 25px 7px;font-size:15px} 
.VrsTxt {color:#000;margin:0px 25px 10px}
.VrsBtnAryDiv {text-align:right;margin:20px 15px 0px 0px}
 /* New Styles */
.VrsMstBdy {background-color:#fff;background-image:url(../images/version/version_brand.jpg);background-repeat:no-repeat}
.VrsBtnBdy {background-color:#DCE2E5}
.VrsPrdDiv {padding:30px 0px 0px 195px}
.VrsLgoTd {text-align:right;vertical-align:top;padding:5px 10px 0px 10px}
.VrsPrdTd {vertical-align:top}
/* Archived Version Styles */
.VrsLin {}

/* LOCKHART LOGIN */
.logLblSvrNam {margin:0px 0px 5px 15px}
.logTxtSvrNam {margin:0px 0px 5px 10px}
.LogUsrLbl {margin:4px 0px 6px 15px}
.LogUsrNam {margin:4px 0px 6px 10px}
.logLbl {margin:0px 0px 3px 15px}
.logInp {margin:0px 0px 3px 10px}
.logLblLst {margin:0px 0px 10px 15px}
.logInpLst {margin:0px 0px 10px 10px}
.logBtn {margin:0px 0px 7px 10px}
.logHlp {margin:0px 15px 7px 10px}
.logErr {margin:5px 15px 5px 0px}
.logCpy {width :720px;margin:5px 0px 50px;vertical-align:top}
.logTxtCpy {font-size:10px;color:#fff;vertical-align:top}
/* New Styles */
.LogBdy {background-color:#4A5C69;margin:0px}
.LogTopBnd {background-color:#4A5C69}
.LogCntTd {background-color:#fff;padding-top:120px}
.LogBotBnd {background-color:#4A5C69}
.LogMidBnd {background-color:#D4DCE1}

/* LOCKHART LAUNCH PAGE */
.LncMgn {}
.LncTbl {border-left:solid #FFF 10px;border-right:solid #FFF 10px}
.LncCbDiv {padding:0px 3px 15px 0px}
.LncHdr {font-weight:normal;color:#7F8391;font-size:18px}
.LncHdrTd {padding:6px 5px 2px 0px;border-bottom:solid 1px #7F8391}
.LncAppBox {padding:6px 8px 0px 0px}
.LncAppTd {}
.LncApp {}
.LncTxt {color:#333;padding:0px 0px 3px 2px}
a.LncLnk:link, a.LncLnk:visited {color:#003399;text-decoration:none}
a.LncLnk:hover {color:#003399;text-decoration:underline}

/* ---------------------------------------------*/
/* ---------------------------------------------*/
/* THESE ARE OLD 1.0 STYLES -- DO NOT USE  for 2.0 */
/* ---------------------------------------------*/
/* ---------------------------------------------*/
/* INTERNET EXPLORER 5+ FOR WINDOWS & NETSCAPE 6 STYLE SHEET */
/* Last Updated 06/17/2002 */
.masthead-body {background-color:#669}
.masthead-background {background-color:#669}
.masthead-title-row {background-color:#000}
.masthead-separator-row {background-color:#FFF}
.masthead-bottom-row {background-color:#669}
.masthead-text {color:#FFF}
.masthead-role-text {color:#FFF;font-weight:bold}
.masthead-server-text {color:#FFF;font-weight:bold}
a.masthead-link:link, a.masthead-link:visited {color:#FFF; text-decoration:none}
a.masthead-link:hover {color:#FFF;text-decoration:underline}
a.masthead-link:active {color:#F00;text-decoration:underline}
.masthead-link-divider {color:#F90}
.secondary-masthead-title {color:#FFF;font-size:1.25em;font-weight:bold;margin:5px 10px}
.copyright-text {color:#999;font-size:.9em}
.copyright-separator {background-color:#CCC}
a.plugin-link:link, a.plugin-link:visited {font-weight:bold;color:#669; text-decoration:underline}
a.plugin-link:active {font-weight:bold;color:#F00;text-decoration:underline}
.plugin-description-text {color:#000}
.tree-body {background-color:#FFF;color:#000} 
a.tree-node-link:link, a.tree-node-link:visited, a.tree-node-link:active {color:#000;text-decoration:none}
.global-tab-unselected {background-color:#99C;text-align:center}
a.global-tab-link:link, a.global-tab-link:visited {color:#FFF;font-weight:bold;text-decoration:none;background-color:#99C}
a.global-tab-link:hover {color:#FFF;font-weight:bold;text-decoration:underline;background-color:#99C}
a.global-tab-link:active {color:#F00;text-decoration:underline}
.global-tab-selected {background-color:#FFC;text-align:center}
.global-tab-text {color:#000;font-weight:bold;background-color:#FFC}
.global-tab-sec-back  {background-color:#FFC}
.global-tab-sec-divider {color:#F90;margin:2px 0px}
a.global-tab-sec-link:link, a.global-tab-sec-link:visited {margin:2px 0px; color:#000;background-color:#FFC;text-decoration:none}
a.global-tab-sec-link:hover {margin:2px 0px; color:#000;background-color:#FFC;text-decoration:underline}
a.global-tab-sec-link:active {margin:2px 0px; color:#F00;text-decoration:underline}
.global-tab-sec-text {margin:2px 0px; color:#000;background-color:#FFC;font-weight:bold}
.local-tab-back  {background-color:#CCC}
.local-tab-unselected {background-color:#999;text-align:center}
a.local-tab-link:link, a.local-tab-link:visited {color:#000;font-weight:bold;text-decoration:none;background-color:#999}
a.local-tab-link:hover {color:#000;font-weight:bold;text-decoration:underline;background-color:#999}
a.local-tab-link:active {color:#F00;text-decoration:underline}
.local-tab-selected {background-color:#FFF;text-align:center}
.local-tab-text {color:#000;font-weight:bold;background-color:#FFF}
.local-tab-sec-back  {background-color:#FFF}
.local-tab-sec-divider {color:#000;margin:4px 0px}
a.local-tab-sec-link:link, a.local-tab-sec-link:visited {margin:4px 0px;color:#000;background-color:#FFF;text-decoration:underline}
a.local-tab-sec-link:hover {margin:4px 0px;color:#000;background-color:#FFF;text-decoration:underline}
a.local-tab-sec-link:active {margin:4px 0px;color:#F00;text-decoration:underline}
.local-tab-sec-text {margin:4px 0px;color:#000;background-color:#FFF;font-weight:bold}
.breadcrumb-row  {background-color:#CCC}
.breadcrumb-text  {color:#000;font-weight:bold;margin:3px 10px}
a.breadcrumb-link:link, a.breadcrumb-link:visited {color:#000;font-weight:normal;text-decoration:underline}
a.breadcrumb-link:active {color:#F00;text-decoration:underline}
.content-layout {margin:0px 10px}
.button-frame-enabled {background-color:#000}
.button-content-enabled {background-color:#CCC;cursor:pointer;cursor:hand}
.button-link-enabled-text {color:#000;margin:1px 0px;font-weight:bold}
a.button-link:link, a.button-link:visited {color:#000;background-color:#CCC;text-decoration:none}
a.button-link:active {color:#000;background-color:#999;text-decoration:none}
.button-frame-disabled {background-color:#999}
.button-content-disabled {background-color:#CCC}
.button-link-disabled-text {color:#999;margin:1px 0px;font-weight:bold}
.mini-button-frame-enabled {background-color:#000}
.mini-button-content-enabled {background-color:#CCC;cursor:pointer;cursor:hand}
.mini-button-link-enabled-text {color:#000;font-size:.9em;margin:1px 0px;font-weight:bold}
a.mini-button-link:link, a.mini-button-link:visited {color:#000;background-color:#CCC;text-decoration:none}
a.mini-button-link:active {color:#000;background-color:#999;text-decoration:none}
.mini-button-frame-disabled {background-color:#999}
.mini-button-content-disabled {background-color:#CCC}
.mini-button-link-disabled-text {color:#999;font-size:.9em;margin:1px 0px;font-weight:bold}
.table-title-text {color:#000;font-weight:bold;margin:0px 5px 2px 0px}
.table-frame {background-color:#99C}
.table-content {background-color:#FFF}
.table-header-row {background-color:#99C}
.table-sort-row {background-color:#CCF}
.table-separator-row {background-color:#CCC}
.table-header-text   {color:#FFF;font-weight:bold;margin:2px 5px 2px 10px}
.table-label-text   { color:#000;margin:3px 5px 3px 10px}
.table-normal-text   {color:#000; margin:3px 5px 3px 10px}
.table-status-ok-text   {color:#000; margin:3px 5px 3px 10px}
.table-status-critical-text   {color:#000; margin:3px 5px 3px 10px}
.table-status-major-text   {color:#000; margin:3px 5px 3px 10px}
.table-status-minor-text   {color:#000; margin:3px 5px 3px 10px}
.table-strong-text   {color:#000; margin:3px 5px 3px 10px;font-weight:bold}
.sort-row-margin {margin:0px 5px 0px 10px}
.select-all-margin {margin:2px}
.table-navlink-text   {color:#669;margin:3px 5px 3px 10px}
a.table-navlink:link, a.table-navlink:visited {color:#669; text-decoration:underline}
a.table-navlink:active {color:#F00;text-decoration:underline}
.table-actlink-text   {color:#99C; margin:3px 5px 3px 10px;font-weight:bold}
a.table-actlink:link, a.table-actlink:visited {font-weight:normal;color:#669; text-decoration:underline}
a.table-actlink:active {font-weight:normal;color:#F00;text-decoration:underline}
.table-vertpag-label-text {color:#000;font-weight:bold}
.table-vertpag-pages-text {color:#000}
.table-vertpag-title-text {color:#000;font-weight:normal}
.alert-error-frame {background-color:#C00}
.alert-error-content {background-color:#FFF}
.alert-warning-frame {background-color:#FC0}
.alert-warning-content {background-color:#FFF}
.alert-info-frame {background-color:#99C}
.alert-info-content {background-color:#FFF}
.alert-header-text {color:#000;font-weight:bold;margin:0px 0px 5px 0px}
.alert-normal-text {color:#000}
.alert-mono-text {color:#000;font-family:monospace}
.alert-strong-text {color:#000;font-weight:bold}
a.alert-link:link, a.alert-link:visited {color:#669;text-decoration:underline}
a.alert-link:active {color:#F00;text-decoration:underline}
.properties-jumpto-text {color:#000}
.properties-level1-label-text {color:#000;margin:20px 0px 0px 0px;font-weight:bold}
.properties-level2-label-text {color:#000;margin:20px 0px 5px 20px;font-weight:bold}
.properties-level3-label-text {color:#000;margin:0px 0px 0px 40px}
.properties-separator {background-color:#CCC}
.properties-normal-text {color:#000}
.properties-required {color:#00F}
.wizard-title-text {color:#FFF;margin:5px;font-size:1.25em;font-weight:bold}
.wizard-steps-body  {background-color:#FFF;color:#000}
.wizard-contents-body {background-color:#FFF;color:#000}
.wizard-navigation-body {background-color:#FFF;color:#000}
.wizard-steps-title-text {color:#000;font-weight:bold}
.wizard-steps-divider {background-color:#000}
.wizard-step-text {color:#000}
.wizard-help-text {color:#000;margin:3px 0px}
.wizard-step-current-text {color:#000;font-weight:bold}
a.wizard-step-link:link, a.wizard-step-link:visited {color:#669; text-decoration:underline}
a.wizard-step-link:active {color:#F00;text-decoration:underline}
.wizard-content-title-text {color:#000;font-weight:bold;margin:3px 5px}
.wizard-content-title-row  {background-color:#CCC}
.wizard-content-instr-text {color:#000}
.wizard-content-label-text {color:#000}
.wizard-tab-frame-forward {background-color:#000}
.wizard-tab-content-forward {background-color:#FFF}
.wizard-tab-link-forward-text {color:#000;font-weight:bold;text-decoration:none}
.wizard-tab-frame-back {background-color:#666}
.wizard-tab-content-back {background-color:#CCC}
a.wizard-tab-link:link, a.wizard-tab-link:visited {color:#000;font-weight:bold; text-decoration:none}
a.wizard-tab-link:active  {color:#000;font-weight:bold;background-color:#999;text-decoration:none}
.help-text {color:#000} 
a.help-link:link, a.help-link:visited {color:#000;text-decoration:underline}
a.help-link:active {color:#F00;text-decoration:underline} 
.help-small-text {color:#000;font-size:.9em} 
a.help-small-link:link, a.help-link:visited {color:#000;text-decoration:underline}
a.help-small-link:active {color:#F00;text-decoration:underline} 
.date-time-day-header {color:#000;font-weight:bold}
.date-time-help-text {color:#000;font-size:.9em} 
.date-time-label-text  {color:#000} 
a.date-time-link:link, a.date-time-link:visited {color:#000; text-decoration:underline}
a.date-time-link:active {color:#F00;text-decoration:underline}
a.date-time-other-link:link, a.date-time-other-link:visited {color:#999; text-decoration:underline}
a.date-time-other-link:active {color:#F00;text-decoration:underline}
a.date-time-mark-link:link, a.date-time-mark-link:visited {color:#000;font-weight:bold;text-decoration:underline}
a.date-time-mark-link:active {color:#F00;text-decoration:underline}
.chooser-server-header {color:#000;font-weight:bold}
.chooser-server-text {color:#000}
.chooser-label-text {color:#000}
select.chooser-list {font-family:monospace}
option.chooser-folder-text {color:#000;font-family:monospace}
option.chooser-file-text {color:#666;font-family:monospace}
