*{
	font-family: Arial,Helvetica,Sans-Serif;
}
BODY {
	FONT-SIZE: 10pt; 
        background: #4C81B1 URL("BG_Logo_short.gif") no-repeat top left ;
}
A:link {
	COLOR: #000080
}
A:visited {
	COLOR: #800000
}
.fLabel {
	COLOR: white
}
.fLabel {
	FONT-FAMILY: Arial,Helvetica,Sans-Serif
}
.fLabel {
	FONT-SIZE: 8pt
}
.fLabel {
	FONT-WEIGHT: bold
}
