
body 
{
	margin: 0 0 0 0;
}

html.PortalBody
{
	overflow: hidden; /* This must be always hidden; please see MITS 17941 for more info */
}

body.PortalBody
{
	margin: 0 0 0 0;
	overflow: hidden; /* This must be always hidden; please see MITS 17941 for more info */
}

/* ajax modal dialog styles */
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.modalBox
{
	background-color : #f5f5f5;
	background-image: url(../../Images/redX_closeWindow.gif);
	background-position: right top;
	background-repeat: no-repeat;
	border-width: 3px;
	border-style: solid;
	border-color: Blue;
	/*padding: 3px;*/
}

.modalBox caption
{
	background-image: url(../../Images/window_titlebg.gif);
	background-repeat:repeat-x;
}

/* tweb modal dialog styles */
.modalPanelTitle td {
	/*padding: 3px;*/
	font-weight: bold;
	font-size: 0.9em;
	background-image: url(../../Images/window_titlebg.gif);
	cursor: pointer;
	color: black;
	font-family: Verdana;
	width: 100%;
	height: 30px;
	background-color: #6f90dc;
}

.modalPanel
{
	z-index: 500;
	width: 500px;
	border: solid 1px #275473;
	position: absolute;
	border-collapse: collapse;
	background-color: #f0faff;
}

.modalPanel td
{
	vertical-align: top;
}

.titleIcon
{
	padding-right: 20px;
}

.modalCaption, table modalCaption
{
	background-color: #aaa;
	color: #000;
	font-size: 10pt;
	font-weight: bold;
	border: 0;
	border-bottom: solid 1px #737373;
	white-space: nowrap;
	text-align: center;
}

iframe.RMXFrame
{
	overflow: visible;
	height: 100%;
	width: 100%;
}
/*RMA-13498*/
.loginInfoOuter
{
	background-color: #6AADE4;
	position: absolute;
	top: 0;
	margin-bottom: 10px;
	margin-top: 5px;
	left: 60%;
	height: 44px;
	width: 31.5%;  	
}
/*RMA-13498*/
.loginInfoInner 
{
	background-color: #6AADE4;
	position: absolute;
	height: 44px;
	right: 0;
	top: 0;
	font:11px Arial, Sans-Serif; color:#025A82; font-weight:bold;
	/*padding-right: 5px;*/
	padding-right: 120px;
	/*text-align: right;*/
	
}
/*RMA-13498*/
#portalBanner
{
	background-color: #6AADE4;
	position:absolute;   
	height: 44px;
	width: 80%;
	top:0;
	left:0;   
	background-image: url(../../Images/rmx_logo.gif);
}
  
.loginValue
{
	font:11px Arial, Sans-Serif; 
	color:White;
}

#tabMenu 
{
	background-color: #ffffff;
	height: 28px;
	width: 80%;
	position:absolute;
	top:44px;
	left: 17%;
	margin-top: 7px;
}
	
.logoutStatus 
{
	font:11px Arial, Sans-Serif; 
	/*color:#025A82; */
	
	font-weight:bold;
}

a.logoutStatus:link
{
	color: Red;
}

/*igupta3 Mits: 33301*/
#logout
{
	position: absolute;
	top:1%;
	left: 50px;
}
/*RMA-13498*/
#tabBar
{
	background-color: #6AADE4;
	height: 1px;
	width: 98.5%;
	margin-top: 22px;
	position: fixed;
	margin-left: .5%;
}
/*RMA-13498*/
.Portal
{
	height: 92%;
	width: 99.5%;
	position:absolute;
	margin-top: 0px;
}
/*RMA-13498*/
.Portal_ActiveTab
{
	padding: .4% 4px;
	FONT-WEIGHT: bolder;
	FONT-SIZE: 10pt;
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;	
	color: #fff; /*#c3ced7;*/
	TEXT-ALIGN: center;
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	height: 28px;
	width: 187px;
	border: 0;
    padding-top:3px !important;
    padding-left:0px !important;
}
/*RMA-13498*/
.Portal_NonActiveTab
{
	padding: .5% 4px;
	FONT-WEIGHT: bolder;
	FONT-SIZE: 10pt;
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
	color: #737474;
	TEXT-ALIGN: center;
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	/*height: 20px;*/
	width: 187px;
	border: 0;

}
/*RMA-13498*/
.Portal_SelectedBody
{
	margin-top: 80px;
	background-color:#ffffff;
	background-image: none;
	height: 100%;
	border: 0;
	top: 0px;
}

.Portal_TopBorder
{
	border-top-color: #c3ced7;
	border-top-width: 0px;
}

.Portal_Buttons
{
	width: 80%;
	height: 200px;
	position: absolute;
}

/* aravi5 Jira Id: RMA-7240 RMA Header Tab is not in proper design of rma standard in IE11 Full Mode */
.cphMainBody_uwtPortal_20,.cphMainBody_uwtPortal_21,.cphMainBody_uwtPortal_22,.cphMainBody_uwtPortal_23,.cphMainBody_uwtPortal_24,
.cphMainBody_uwtPortal_25,.cphMainBody_uwtPortal_26,.cphMainBody_uwtPortal_27,.cphMainBody_uwtPortal_28,.cphMainBody_uwtPortal_29,
.cphMainBody_uwtPortal_30,.cphMainBody_uwtPortal_31,.cphMainBody_uwtPortal_32,.cphMainBody_uwtPortal_33,.cphMainBody_uwtPortal_34

{
   -webkit-column-width: 182px; /* Chrome, Safari, Opera */
   -moz-column-width: 182px; /* Firefox */
    column-width:182px;
}

/* aravi5 Jira Id: RMA-7240 RMA Header Tab is not in proper design of rma standard in IE11 Full Mode */
.cphMainBody_uwtPortal_0
{
   -webkit-column-width: 182px; /* Chrome, Safari, Opera */
   -moz-column-width: 182px; /* Firefox */
    column-width:182px;
}

